@media (min-width: 300px) {
    .main_container {
        position: absolute;
        top: 8%;
        left: 50%;
        transform: translateX(-50%);
        width: 95%;
        height: 90%;
        color: var(--text-color);
        overflow: hidden;
    }
    .main_block {
        display: flex;
        flex-direction: column;
        gap: 0.5em;
        overflow: auto !important;
        scrollbar-width: none;
        max-height: 100%;
    }
    .post_container {
        display: flex;
        flex-direction: column;
        gap: 0.5em;
        padding: 6px 10px;
        background: var(--block-color);
        border-radius: 5px
    }
    .post_info_block {
        display: flex;
        flex-direction: column;
        gap: 0.5em;
    }
    .name_n_date {
        display: flex;
        flex-direction: column;
        gap: 0.1em;
    }
    .date {
        display: flex;
        /*margin-left: auto;*/
        font-size: 0.7rem;
        font-weight: 100;
    }
    .tags_block {
        display: flex;
        flex-direction: row;
        gap: 0.5em;
    }
    .comments_container {
        display: flex;
        flex-direction: column;
        /*gap: 1em;*/
    }
    .message_block {
        background: var(--background-color);
        border: 2px dashed var(--text-color);
        padding: 6px;
        min-width: 100%;
        max-width: 100%;
        min-height: 50px;
        border-radius: 5px;
        box-sizing: border-box;
        color: var(--text-color);
        outline: none;
        font: 0.9rem 'Ubuntu';
    }
    .form_block {
        position: sticky;
        top: 0;
        z-index: 1;
        width: 100%;
    }
    .comment_form {
        display: flex;
        flex-direction: column;
        gap: 0.5em;
    }
    .new_comment {
        background: var(--background-color);
        padding-bottom: 0.5em;
    }
    .send_block {
        display: flex;
        margin-left: auto;
        width: fit-content;
    }
    .send_btn {
        background: var(--background-color);
        color: var(--text-color);
        border-radius: 5px;
        border: 1px solid var(--text-color);
        padding: 2px 6px;
        /* font-weight: 500; */
        font: 500 1rem 'Ubuntu';
    }
    .comments_block {
        display: flex;
        flex-direction: column;
        gap: 0.5em;
    }
    .comment {
        display: flex;
        flex-direction: column;
        gap: 0.5em;
        background: #121212;
        border-radius: 5px;
        padding: 6px;
        position: relative;
    }
    .parent_link {
        border: 1px solid white;
        position: absolute;
        z-index: 1;
        bottom: -0.2em;
        left: 5em;
        background: #292929;
        transition: opacity 0.3s ease-out;
    }
    #parent-comment {
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.3s ease
    }
    .user_date {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 1em
    }
    .user {
        display: flex;
        flex-direction: row;
        gap: 1em
    }
    .user_element {
        display: flex;
        flex-direction: row;
        gap: 0.1em;
    }
    .post_profile_icon {
        width: 1.1rem !important
    }
    .parent_comment {
        display: flex;
        flex-direction: row;
        gap: 0.1em;
        align-items: center;
    }
    .parent_icon {
        width: 1rem;
        filter: invert(20%) sepia(0%) saturate(426%) hue-rotate(146deg) brightness(99%) contrast(84%) !important;
    }
    .parent_comment p {
        font-size: 0.75rem;
        font-weight: 500;
        height: fit-content;
        color: #404040;
    }
    .date p {
        display: flex;
        align-items: center;
    }
    .comment_text {
        padding: 0 4px;
    }
    .reply_button {
        display: flex;
        flex-direction: row;
        gap: 0.2em;
        width: fit-content;
        align-items: center;
    }
    .reply_button p {
        font-family: 'Ubuntu';
        font-size: 0.9rem
    }
}