@import url('../../../../static/css/themes.css');

@font-face {
    font-family: 'Nunito';
    src: url('../fonts/Nunito-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Nunito';
    src: url('../fonts/Nunito-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Nunito';
    src: url('../fonts/Nunito-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

/*[data-theme="dark"] {*/
/*    --background-color: #504E76;*/
/*    --text-color: #FFFFFF;*/
/*}*/

body, html {
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Nunito';
    background: var(--background-color);
}

a, p, h1, h2, h3 {
    margin: 0;
    padding: 0;
    color: var(--text-color) !important;
}

a {
    font-size: 16px;
    text-decoration: none;
    color: var(--text-color);
}

h1 {
    font-size: 23px;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

h3 {
    font-size: 18px;
    font-weight: bold;
    color: var(--text-color);
    transition: color 2s ease;
    margin: 0;
    padding: 0;
}

p {
    font-size: 16px;
    margin: 0;
    padding: 0;
}

.main_container {
    display: flex;
    flex-direction: column;
    background: #FAFAFA;
    width: 1000px;
    height: fit-content;
    margin: 10px auto;
    /*border: 2px solid #000000;*/
    border-radius: 10px;
    background-color: var(--block-color);
}

.post_header {
    display: flex;
    flex-direction: row;
    /*border: 1px solid red;*/
}

.post_title {
    margin: 10px 10px 10px 20px;
}

.post_title h1 {
    font-size: 24px;
    margin: 0;
    padding: 0;
    width: fit-content;
    /*border: 1px solid red;*/
}

.post_views {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3px;
    margin: 0 20px 0 auto;
    /*border: 1px solid red;*/
}

.post_views img {
    height: 25px;
    /*border: 1px solid red;*/
}

.post_views p {
    display: flex;
    font-weight: bolder;
}

.post_content {
    margin: 10px;
}

.post_content h1, .post_content h2, .post_content h3 {
    margin: 25px 0 10px 0;
}

.post_content h1:first-child, .post_content h2:first-child, .post_content h3:first-child {
    margin: 10px 0;
}

.post_content p {
    margin: 0;
    padding: 0;
    /*border: 1px solid red;*/
}

.post_content p:empty {
    display: none;
}

.post_content p:not(:last-child) {
    margin-bottom: 10px;
}

.post_content a:link, .post_content a:visited {
    color: blue;
    text-decoration: none;
}

.side_bar {
    display: flex;
    flex-direction: column;
    position: fixed; /* Абсолютное позиционирование */
    top: calc(95px);
    right: calc(50% + 500px + 10px);
    align-items: center;
    width: fit-content;
    height: fit-content;
}

.menu_block {
    border-radius: 10px;
    background-color: var(--block-color);
}

.menu_block a {
    display: flex;
    flex-direction: row;
    padding: 3px 4px 3px 6px;
    align-items: center;
}

.menu_block a p {
    font-weight: 500;
}

.menu_block a img {
    width: 24px
}

.menu_block:hover {
    background-color: var(--hover-color);
    transition: background-color 0.5s ease;
}

.menu_block:hover a p {
    color: var(--hover-text-color) !important;
    transition: color 0.5s ease;
}

.menu_block:hover a img {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(16deg) brightness(111%) contrast(102%);
    transition: filter 0.5s ease;
}