<div class="form_block">
    <form class="comment_form reply_form"
          hx-post="{% url 'chapter_reply' comment.id %}"
          hx-target="#comments-page-list-{{ page.id }}"
          hx-swap="innerHTML"
          hx-trigger="submit">
        {% csrf_token %}
        <textarea class="message_block" type="text" name="text" id="reply-on-{{ comment.id }}" placeholder="Твой ответ" required autofocus></textarea>
        <div class="send_block">
            <input onclick="pageScrollDown()" data-page-id="{{ page.id }}" class="send_btn" type="submit" value="Отправить">
        </div>
    </form>
</div>

<script>
    document.querySelector('.comment_form')?.addEventListener('keydown', function(e) {
        if (e.key === 'Enter' && e.target.tagName === 'TEXTAREA') {
            if (!e.shiftKey) {
                e.preventDefault();

                // Для HTMX
                if (typeof htmx !== 'undefined') {
                    htmx.trigger(this, 'submit');
                    pageScrollDown()
                } else {
                    this.submit();
                    pageScrollDown()
                }
            }
        }
    });
</script>

    <script>
        function pageScrollDown() {
            setTimeout(() => {
                document.querySelector(`.comments_list`).scrollIntoView({behavior: 'smooth', block: 'end'});
            }, 150)
        }
    </script>