{% load static %}

{% block post_comments_block %}
    <div class="form_block">
        <form class="comment_form new_comment"
              hx-post="{% url 'find_post_comments' post_id %}"
              hx-target="#comments-container"
              hx-swap="innerHTML"
              hx-trigger="submit">
            {% csrf_token %}
            <textarea class="message_block" type="text" name="text" id="comment" placeholder="Твой комментарий" required></textarea>
            <div class="send_block">
                <input onclick="scrollDown()" class="send_btn" type="submit" value="Отправить">
            </div>
        </form>
    </div>
    <div class="comments_block" id="comments_block">
        {% for comment in comments %}
            <div class="comment" id="comment" data-comment_id="{{ comment.id }}">
                <div class="user_date">
                    <div class="user">
                        <div class="user_element">
                            <img class="icon post_profile_icon" src="{% static 'icons/user-solid-full.svg' %}">
                            <h4>{{ comment.author }}</h4>
                        </div>
                        {% if comment.parent_comment %}
                        <div class="parent_comment" onclick="loadParent(this)" data-parent_is="{{ comment.parent_comment.id }}">
                            <img class="icon parent_icon" src="{% static 'icons/message-solid-full.svg' %}">
                            <p>{{ comment.parent_comment.author.username }}</p>
                        </div>
                        {% endif %}
                    </div>
                    <div class="date">
                        <p>{{ comment.created_at }}</p>
                    </div>
                </div>
                <div class="comment_text">
                    <p>{{ comment.text }}</p>
                </div>
                <button id="reply-on" class="reply_button" onclick="openReplyWindow(this)">
                    <img class="icon post_profile_icon" src="{% static 'icons/reply-solid-full.svg' %}">
                    <p>Ответить</p>
                </button>
            </div>
        {% endfor %}
    </div>

<script>
    document.body.addEventListener('keydown', function(event) {
        if (event.key === 'Enter' && event.target.tagName === 'TEXTAREA') {
            if (!event.shiftKey) {
                event.preventDefault();

                const form = event.target.closest('form');

                if (form) {
                    if (typeof htmx !== 'undefined') {
                        htmx.trigger(form, 'submit');
                        scrollDown()
                    } else {
                        form.submit();
                        scrollDown()
                    }
                }
            }
        }
    });
</script>

<script>
    function openReplyWindow(button) {
        let postID = document.getElementById('comments-container').dataset.post_id;
        let parentID = button.parentElement.dataset.comment_id;

        let findReplyWindow = button.querySelector('.form_block')

        if (!findReplyWindow) {
            button.style.width = '100%';
            htmx.ajax(`GET`, `/post/${postID}/comments/${parentID}/reply/`, {
                target: button,
                swap: `innerHTML`
            });
        }
    }

    function loadParent(block) {
        let postID = document.getElementById('comments-container').dataset.post_id;
        let comment = block.parentElement.parentElement.parentElement;
        let parentID = block.dataset.parent_is;

        let findParent = comment.querySelector('#parent-comment')
        if (findParent) {
            findParent.style.opacity = '1';
            findParent.style.pointerEvents = 'auto';
        } else {
            htmx.ajax(`GET`, `/post/${postID}/comments/${parentID}/`, {
                target: comment,
                swap: `beforeend`,
            });
            setTimeout(() => {
                let findParent = comment.querySelector('#parent-comment');
                findParent.style.opacity = '1';
                findParent.style.pointerEvents = 'auto';
            }, 100)
        }
    }

    document.addEventListener('click', function(event) {
        const isClickInside = event.target.closest('.parent_comment, .parent_link');

        if (!isClickInside) {
            document.querySelectorAll('.parent_link').forEach(block => {
                block.style.opacity = '0';
                block.style.pointerEvents = 'none';
            });
        }
    });

</script>

    <script>
        function scrollDown() {
            setTimeout(() => {
                document.getElementById('comments_block').scrollIntoView({behavior: 'smooth', block: 'end'})
            }, 150)
        }
    </script>
{% endblock %}