@import url('../../../../static/css/themes.css');
@import url('../../../../static/css/text.css');


body, html {
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Nunito';
    background: var(--background-color);
}

.main_container {
    display: flex;
    flex-direction: row;
    background-color: var(--block-color);
    width: 1000px;
    height: fit-content;
    margin: 10px auto;
    gap: 10px;
    /*border: 2px solid #000000;*/
    border-radius: 10px;
}

.manga_block {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 485px;
    height: 200px;
    margin: 10px;
    border-radius: 10px;
    background: var(--element-color);
    transition: background 0.5s;
}

.cover {
    margin: 10px 0 10px 10px;
    border-radius: 5px;
}

.info_block {
    display: flex;
    flex-direction: column;
    margin: 10px 10px 10px 0;
}

.info_block h1, .info_block p {
    transition: color 0.5s;
}

.manga_link:hover h1, .manga_link:hover p {
    color: var(--hover-text-color);
    transition: color 0.5s;
}

.manga_link:hover .manga_block {
    background: var(--hover-color);
    transition: background 0.5s;
}