@import url('../../../../static/css/themes.css');
@import url('../../../../static/css/text-mobile.css');


body, html {
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Nunito';
    background: var(--background-color);
}

.main_container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100vw;
    height: fit-content;
    margin-top: 115px;
    /*border-radius: 10px;*/
}

.info_block {
    display: flex;
    flex-direction: column;
    gap: 10px;
    /*margin: 0 10px;*/
    padding: 10px;
    height: fit-content;
    background-color: var(--block-color);
    /*border-radius: 10px;*/
}

.name_n_description {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.name {
    margin: 10px 0 10px 15px;
    width: fit-content;
    padding: 0;
}

.name h1 {
    line-height: 1;
    font-size: 45px !important;
}

.description {
    margin-left: 15px;
    width: fit-content;
}

.genres_block {
    display: flex;
    flex-flow: row wrap;
    margin: 10px;
}

.genre {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    margin-right: 10px;
    /*background-color: var(--element-color);*/
    /*border-radius: 15px;*/
    /*border: 1px solid black;*/
}

.genres_block p {
    /*color: #991B1B;*/
    font-weight: bold;
    font-style: italic;
    margin-top: 0;
    width: fit-content;
    padding: 4px 10px;

}

.chapters_block {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 20px;
}

.volume_container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    margin: 0 auto;
    /*border-top: 2px solid black;*/
    background-color: var(--block-color);
    border-radius: 10px;
    padding-bottom: 10px;
}

.volume_cover {
    display: flex;
    height: fit-content;
    margin: 10px;
    justify-content: center;
}

.volume_cover img {
    display: block;
    height: 500px;
    border-radius: 10px;
}

.volume_content {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.number_n_desc {
    display: flex;
    padding-top: 10px;
    /*border-left: 2px solid black;*/
    /*border-bottom: 2px solid black;*/
}

.volume_number {
    display: flex;
    margin-top: 10px;
    padding: 0;
    height: fit-content;
    /*width: fit-content;*/
    white-space: nowrap;
    justify-content: center;
}

.volume_desc {
    width: 100%;
    margin-right: 10px;
    margin-bottom: 10px;
}

.volume_list {
    display: flex;

}

.volume_list {
    display: flex;
    flex-direction: column;
    margin: 10px 20px;
    height: fit-content;
    gap: 35px;
    padding: 0;
}

.chapter_element {
    display: flex;
    gap: 10px;
}

.chapter_width {
    display: flex;
    /*max-width: 460px;*/
}

.chapter {
    display: flex;
    align-items: center;
    width: fit-content;
    /*background-color: var(--element-color);*/
    /*border-radius: 10px;*/
}

.chapter a {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 5px 15px;
    width: fit-content;
    /*background: var(--element-color);*/
    /*border-radius: 10px;*/
    border-left: 7px solid var(--hover-color);
}

.ch_number {
    font-weight: bold;
}

.rate_and_mark {
    display: flex;
    flex-direction: column;
    /*gap: 10px;*/
    align-items: end;
    justify-content: center;
    margin-left: auto;
    width: max-content;
}

.view_sign {
    display: flex;
    align-items: center;
    padding: 0 5px;
    border-radius: 10px;
    /*background: var(--element-color);*/
    width: fit-content;
}

.view_sign img {
    width: 50px;
    filter: var(--icon-color);
}

img.no_read {
    filter: invert(49%) sepia(97%) saturate(2944%) hue-rotate(329deg) brightness(107%) contrast(114%);
}

img.is_read {
    filter: invert(62%) sepia(42%) saturate(626%) hue-rotate(73deg) brightness(88%) contrast(86%);
}

img.last_read {
    filter: invert(89%) sepia(23%) saturate(5489%) hue-rotate(351deg) brightness(99%) contrast(104%);
}

.chapter_rating {
    display: flex;
    margin-left: auto;
    height: fit-content;
    padding: 4px 8px 4px 6px;
    /*background-color: var(--element-color);*/
    /*border-radius: 10px;*/
    gap: 1px
}

.chapter_rating p {
    width: fit-content;
    font-weight: 500;
}

.chapter_rating img {
    display: flex;
    filter: var(--icon-color);
    width: 30px
}

.svg-icon {
    transition: opacity 0.3s;
}