@import url('../../../../static/css/themes.css');
@import url('../../../../static/css/text.css');


body, html {
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Nunito';
    background: var(--background-color);
}

.main_container {
    display: flex;
    flex-direction: column;
    background-color: var(--block-color);
    width: 1000px;
    height: fit-content;
    margin: 10px auto;
    /*border: 2px solid #000000;*/
    border-radius: 10px;
}

.info_block {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: fit-content;
}

.name_n_description {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.name {
    margin: 10px 0 0 15px;
    width: fit-content;
    padding: 0;
}

.description {
    margin-left: 15px;
    width: fit-content;
}

.genres_block {
    display: flex;
    flex-flow: row wrap;
    margin-left: 10px;
    margin-bottom: 10px;
}

.genre {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    margin-right: 10px;
    background-color: var(--element-color);
    border-radius: 15px;
    /*border: 1px solid black;*/
}

.genres_block p {
    /*color: #991B1B;*/
    font-weight: 500;
    margin-top: 0;
    width: fit-content;
    padding: 4px 10px;

}

.chapters_block {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.volume_container {
    display: flex;
    width: 100%;
    height: fit-content;
    margin: 0 auto;
    /*border-top: 2px solid black;*/
}

.volume_cover {
    height: fit-content;
    margin: 10px 10px 10px 20px;
}

.volume_cover img {
    display: block;
    height: 300px;
    border-radius: 10px;
}

.volume_content {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.number_n_desc {
    display: flex;
    padding-top: 10px;
    /*border-left: 2px solid black;*/
    /*border-bottom: 2px solid black;*/
}

.volume_number {
    margin: 0 10px 10px 20px;
    padding: 0;
    height: fit-content;
    width: fit-content;
    white-space: nowrap;
}

.volume_desc {
    width: 100%;
    margin-right: 10px;
    margin-bottom: 10px;
}

.volume_list {
    display: flex;

}

.volume_list {
    display: flex;
    flex-direction: column;
    margin: 10px 20px 10px 10px;
    height: fit-content;
    gap: 15px;
    padding: 0;
}

.chapter_element {
    display: flex;
    gap: 10px;
}

.view_sign {
    display: flex;
    align-items: center;
    padding: 0 5px;
    /*border-radius: 10px;*/
    /*background: var(--element-color);*/
}

.view_sign img {
    width: 24px;
    filter: var(--icon-color);
}

img.no_read {
    filter: invert(49%) sepia(97%) saturate(2944%) hue-rotate(329deg) brightness(107%) contrast(114%);
}

img.is_read {
    filter: invert(62%) sepia(42%) saturate(626%) hue-rotate(73deg) brightness(88%) contrast(86%);
}

img.last_read {
    filter: invert(89%) sepia(23%) saturate(5489%) hue-rotate(351deg) brightness(99%) contrast(104%);
}

.chapter_and_rate {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.chapter_width {
    display: flex;
    max-width: 470px;
}

.chapter {
    display: flex;
    align-items: center;
    width: fit-content;
    background: var(--element-color);
    transition: background 0.5s;
    border-radius: 10px;
}

.chapter_and_rate:hover .chapter {
    background-color: var(--hover-color);
    transition: background-color 0.5s ;
}

.chapter a {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 4px 8px;
    width: fit-content;
    transition: color 0.5s;
}

.chapter_and_rate:hover .chapter a {
    color: var(--hover-text-color) !important;
    transition: color 0.5s ease;
}

.ch_number {
    font-weight: bold;
}

.chapter_rating {
    display: flex;
    align-items: center;
    margin: 0 0 0 auto;
    padding: 4px 8px 4px 6px;
    height: fit-content;
    background: var(--element-color);
    transition: background 0.5s;
    border-radius: 10px;
    gap: 1px
}

.chapter_rating p {
    display: flex;
    width: fit-content;
    font-weight: 500;
    transition: color 0.5s;
}

.chapter_rating img {
    display: flex;
    filter: var(--icon-color);
    transition: filter 0.5s;
    width: 18px
}

.chapter_and_rate:hover .chapter_rating {
    background: var(--hover-color);
    transition: background 0.5s;
}

.chapter_and_rate:hover .chapter_rating p {
    color: var(--hover-text-color);
    transition: color 0.5s;
}

.chapter_and_rate:hover .chapter_rating img {
    filter: var(--icon-hover-color);
    transition: filter 0.5s;
}


.side_bar {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: calc(95px);
    right: calc(50% + 500px + 10px);
    align-items: center;
    width: fit-content;
    height: fit-content;
}

.menu_block {
    border-radius: 10px;
    background-color: var(--block-color);
}

.menu_block a {
    display: flex;
    flex-direction: row;
    padding: 3px 4px 3px 8px;
    align-items: center;
}

.menu_block a p {
    font-weight: 500;
}

.menu_block a img {
    filter: var(--icon-color);
    width: 24px
}

.menu_block:hover {
    background-color: var(--hover-color);
    transition: background-color 0.5s ease;
}

.menu_block:hover a p {
    color: var(--hover-text-color) !important;
    transition: color 0.5s ease;
}

.menu_block:hover a img {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(16deg) brightness(111%) contrast(102%);
    transition: filter 0.5s ease;
}