@import url('../../../../static/css/new_themes.css');
@import url('../../../../static/css/new_text.css');

/*@import url('../../../../static/css/text-mobile.css');*/

body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu';
    background: var(--background-color);
}

.active {
    display: flex;
}

.hidden {
    display: none;
}

.global_container {
    display: flex;
    overflow: hidden !important;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.chapter_container {
    display: flex;
    margin: auto;
    position: sticky;
    overflow: hidden !important;
}

.aside_button {
    background: none !important;
}

.page_block.active {
    display: flex;
}

.page_block.hidden {
    display: none;
}

@media (orientation: portrait) {
    .double_page {
        display: none;
    }

    .single_page {
        display: flex;
    }

    .page_block img {
        display: block;
        max-height: 100vh;
        max-width: 100vw;
    }

    .comment_menu {
        width: 100%;
    }

    .page_number.desktop {
        display: none;
    }

    .comment_info img {
        /*width: 4vw !important;*/
        /*filter: var(--icon-color)*/
    }

    .author {
        font-weight: 500;
        /*font-size: 3.5vw !important;*/
    }

    .comment_date {
        /*font-size: 2.5vw !important;*/
        /*padding-top: 5px*/
        font: 100 0.7rem 'Ubuntu';
    }

    .comment_content {
        width: 99%;
        margin: 0 auto;
    }

    .comment_text {
        /*font-size: 0.8rem !important;*/
    }

    .no_comments p {
        font-size: 1rem !important;
        font-style: italic;
    }

    .page_number.mobile p {
        font-size: 0.8rem !important;
    }

    .comment_area {
        /*font-size: 30px !important;*/
    }

    .send_comment_block {
        width: fit-content;
        margin: 0 10px 10px auto;
    }

    .send_comment, .send_btn {
        background: var(--comment-element);
        color: var(--text-color);
        font: 500 0.9rem "Ubuntu" !important;
        border: 1px solid var(--text-color);
        border-radius: 5px;
        padding: 2px 7px;
    }

    .send_block {
        display: flex;
        margin-left: auto;
        margin-right: 0.2rem;
        width: fit-content;
    }

    .comment_info img {
        width: 0.8rem;
    }

    .comment_info p:not(:last-child) {
        margin-right: 3px
    }

    .rate_percentage p {
        font-size: 3vw !important;
        font-weight: bold;
        color: white !important;
    }

    .rating_block button {
        width: fit-content;
    }

    .rating_block img {
        width: 2.5vh;
        filter: invert(100%) sepia(2%) saturate(9%) hue-rotate(16deg) brightness(103%) contrast(100%);
    }

    .like-btn:hover img,
    .like-btn.active img {
        width: 2.5vh;
        filter: invert(40%) sepia(99%) saturate(433%) hue-rotate(121deg) brightness(94%) contrast(101%);
    }

    .dislike-btn:hover img,
    .dislike-btn.active img {
        width: 2.5vh;
        filter: invert(37%) sepia(65%) saturate(1293%) hue-rotate(321deg) brightness(98%) contrast(96%);
    }

    .comment_buttons {
        display: flex;
        flex-direction: row;
        /*align-items: center;*/
        gap: 5px;
        padding-top: 3px;
        margin-left: auto;
    }

    .comment_buttons button, .reply_button, .close_button {
        width: fit-content;
        height: fit-content;
        background: none;
        border: none;
        /*filter: var(--icon-color);*/
        padding: 0;
    }

    .close_button {
        position: absolute;
        top: 0.5rem;
        right: 0.5rem;
    }

    .single_form_block {
        width: 100%;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 0
    }

    .parent_comment {
        display: flex;
        flex-direction: row;
        gap: 0.1em;
        /*align-items: center;*/
        margin-left: 0.5rem
    }

    .parent_icon {
        width: 1rem;
        filter: invert(20%) sepia(0%) saturate(426%) hue-rotate(146deg) brightness(99%) contrast(84%);
    }

    .parent_comment p {
        font-size: 0.75rem;
        font-weight: 500;
        height: fit-content;
        color: #404040;
        line-height: 1;
    }

    .parent_element {
        border: 1px solid var(--text-color);
        max-width: 60%;
        border-radius: 5px;
        padding: 4px 6px;
        position: absolute;
        background: var(--comment-element);
        left: 20%;
        top: 10px;
        transition: opacity 0.3s ease;;
        opacity: 0;
        pointer-events: none;
    }

    .reply_button img {
        width: 1rem
    }

    .close_button img {
        width: 1rem
    }
}

@media (orientation: landscape) {
    .single_page {
        display: none;
    }

    .double_page {
        display: flex;
    }

    .normal-page {
        display: block;
        max-height: 100vh;
        max-width: 50vw;
    }

    .spread-page {
        display: block;
        max-height: 100vh;
        max-width: 100vw;
    }

    .page_number.mobile {
        display: none;
    }

    .comment_menu {
        position: absolute;
        width: 50%;
        bottom: 0;
    }

    .left_page_comment {
        left: 0;
    }

    .right_page_comment {
        right: 0;
    }

    .top_container {
        display: flex;
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
    }

    .top_container p {
        font-size: 30px;
    }

    .top_element {
        display: flex;
        width: 200px;
        height: 60px;
        position: absolute;
        top: 50%;
        margin-top: -30px;
        align-items: center;
        justify-content: center;
        background: var(--block-color);
        border-radius: 10px;
    }

    .parent_element {
        border: 1px solid var(--text-color);
        max-width: 60%;
        border-radius: 5px;
        padding: 4px 6px;
        position: absolute;
        background: var(--comment-element);
        left: 20%;
        top: 10px;
        transition: opacity 0.3s ease;
        opacity: 0;
        pointer-events: none;
    }

    .back {
        left: 3%;
    }

    .page_num {
        left: 29%
    }

    .ch_num {
        right: 29%;
    }

    .rate_block {
        right: 3%;
    }

    .rate_block img {
        width: 30px;
        height: 30px;
    }

    .double_comments_list {
        display: flex;
        flex-direction: column;
        width: 95%;
        height: 73%;
        position: absolute;
        top: 4.5rem;
        left: 50%;
        transform: translateX(-50%);
        gap: 0.8rem;
        overflow: auto;
        scrollbar-width: none;
    }

    .double_form_block {
        width: 100%;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 0;
    }

    .comment_info {
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
        align-items: center;
    }

    .comment_info p, .comment_text {
        /*font-size: 2.5vh;*/
    }

    .author {
        font-weight: bold;
    }

    .comment_date {
        font-size: 1.6vh !important;
        padding-top: 4px;
    }

    .comment_info p:not(:last-child) {
        margin-right: 3px
    }

    .parent_comment {
        display: flex;
        gap: 0.3rem;
        align-items: center;
    }

    .parent_comment p {
        font-size: 1.1rem;
    }

    .comment_info {
        gap: 5px !important;
    }

    .parent_icon {
        width: 1.2rem;
        filter: invert(20%) sepia(0%) saturate(426%) hue-rotate(146deg) brightness(99%) contrast(84%);
    }

    .parent_comment p {
        font-size: 1.2rem;
        font-weight: 500;
        height: fit-content;
        color: #404040;
        line-height: 1;
    }

    .no_comments p {
        font-style: italic;
        font-size: 2.5vh !important;
    }

    .send_comment_block {
        width: fit-content;
        margin: 5px 18px 12px auto;
    }

    .rate_percentage p {
        font-size: 20px !important;
        font-weight: bold;
        color: white !important;
    }

    .rating_block button {
        width: fit-content;
    }

    .rating_block img {
        width: 3vh;
        filter: invert(100%) sepia(2%) saturate(9%) hue-rotate(16deg) brightness(103%) contrast(100%);
    }

    .like-btn:hover img,
    .like-btn.active img {
        width: 3vh;
        filter: invert(40%) sepia(99%) saturate(433%) hue-rotate(121deg) brightness(94%) contrast(101%);
    }

    .dislike-btn:hover img,
    .dislike-btn.active img {
        width: 3vh;
        filter: invert(37%) sepia(65%) saturate(1293%) hue-rotate(321deg) brightness(98%) contrast(96%);
    }

    .send_comment {
        background: none;
        color: var(--text-color);
        font: 500 1.3rem "Ubuntu" !important;
        border: 1px solid var(--text-color);
        transition: box-shadow 0.2s;
        border-radius: 5px;
        padding: 5px 15px;
        box-sizing: border-box
    }

    .send_comment:hover {
        box-shadow: none;
        transition: box-shadow 0.2s;
    }

    .comment_buttons {
        display: flex;
        flex-direction: column;
        margin-left: auto;
    }

    .comment_buttons button {
        width: fit-content;
        background: none;
        border: none;
        /*filter: var(--icon-color)*/
        padding: 0;
    }

    .comment_buttons button img {
        width: 1.5rem
    }

    .close_button {
        background: none;
        border: none;
        width: fit-content;
        margin-left: auto;
        padding: 0;
        align-items: center;
        display: flex;
    }

    .close_button img {
        width: 1.3rem;
    }

    .reply_button {
        width: fit-content;
        height: fit-content;
        background: none;
        border: none;
        /*filter: var(--icon-color);*/
        padding: 0;
    }

}

.chapter_menu {
    width: 100%;
    height: 12%;
    background: rgba(75, 75, 75, 0.8);
    position: absolute;
    top: 0;
    /*border-bottom: 5px dashed black;*/
    box-sizing: border-box;
}

.chapter_top_menu.active {
    display: flex;
    background: rgba(75, 75, 75, 0.8);
    /*justify-content: space-between;*/
    width: 100%;
    height: 12%;
    position: absolute;
    top: 0;
    box-sizing: border-box;
    align-items: center;
}

.chapter_top_menu p {
    font-size: 3vh !important;
    font-weight: bold;
    color: white !important;
}

.back_to_manga {
    height: fit-content;
    margin-left: 20px
}

.back_to_manga p, .rate_percentage p {
    font-size: 3vh !important;
    font-weight: bold;
    color: white !important;
}

.chapter_info {
    display: flex;
    flex-direction: row;
    gap: 20px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.hide_top {
    display: flex;
    margin: 0 auto;
    position: absolute;
    top: 20px;
    right: 50%
}

.single_rate_block, .double_rate_block {
    display: flex;
    margin: 0 2vw 0 auto;
}

.rating_block {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.rating_block button {
    background: none;
    border: none;
}

.credits {
    background: rgba(75, 75, 75, 0.8);
    border-radius: 5px;
    padding: 10px;
    gap: 5px;
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 110%;
    left: 50%;
    transform: translateX(-50%);
    width: fit-content;
}

.credits p, .credits h2 {
    width: fit-content;
}

.credits h2, .credits p {
    display: flex;
    margin-right: auto;
}

.credits p {
    /*display: flex;*/
    /*margin: 0 auto;*/
    /*font-style: italic;*/
}

.credits p:not(:last-child) {
    /*margin-bottom: 10px;*/
}

.top_panel_chapter {
    width: 100%;
    height: 12%;
    position: absolute;
    top: 0;
    box-sizing: border-box;
}

.read_btn {
    width: 20%;
    height: 76%;
    background: red;
    opacity: 50%;
    position: absolute;
    top: 12%;
    box-sizing: border-box;
}

.toggle_next {
    left: 0;
    /*border-right: 5px dashed black;*/
}

.toggle_prev {
    right: 0;
    /*border-left: 5px dashed black;*/
}

.aside_button button {
    background: none;
    border: none;
    width: 100%;
    height: 100%;
    padding: 0;
}

.comment_menu {
    /*width: 100%;*/
    height: 12%;
    /*background: limegreen;*/
    /*opacity: 50%;*/
    position: absolute;
    bottom: 0;
    /*border-top: 5px dashed black;*/
    box-sizing: border-box;
}

.single_comments_container.active {
    display: flex;
    width: 100%;
    height: 100%;
    position: absolute;
    background: var(--comment-window);
    justify-content: center;
    flex-direction: column;
    gap: 10px
}

.single_page_number {
    position: relative;
    left: 0.8rem;
}

@media (orientation: portrait) {
    .close_button {
        background: none;
        border: none;
        width: fit-content;
        position: relative;
        top: 0.1rem;
        right: 0.8rem;
    }

    .comments_block_top {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: absolute;
        top: 0.8rem;
        align-items: center;
        width: 100%;
    }
}

.single_comments_container.active.double_page {
    display: flex;
    width: 100%;
    height: 66.5%;
    position: fixed;
    background: var(--comment-window);
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    z-index: 2;
    top: 50%;
    transform: translateY(-50%);
}

.comments_container.active {
    display: flex;
    width: 50%;
    height: 100%;
    position: absolute;
    background: var(--comment-window);
    flex-direction: column;
    gap: 10px
}

.comments_container.hidden, .single_comments_container.hidden {
    display: none;
}

.right_page {
    right: 50%;
}

.left_page {
    left: 50%;
}

.page_number {
    width: fit-content;
    margin: 5px auto -5px auto;
}

.page_number p {
    font-weight: bold;
    font-size: 2.5vh !important;
}

.single_comments_list {
    display: flex;
    flex-direction: column;
    width: 95%;
    height: 68%;
    position: absolute;
    top: 3rem;
    left: 50%;
    transform: translateX(-50%);
    margin: 0 auto;
    gap: 0.6rem;
    overflow: auto;
    scrollbar-width: none;
}

.comment_show, .single_comment_show {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100%;
}

.comment_info {
    display: flex;
    flex-direction: row;
    gap: 2px;
    align-items: center;
}

.comment_form {
    display: flex;
    flex-direction: column;
    gap: 0.6rem
}

.edit_form {
    padding: 3px;
}

.edit_form .comment_area {
    width: 100%
}

.reply_form .message_block {
    width: 98% !important;
}

.reply_form {
    margin-bottom: 0.3rem;
}


@media(orientation: landscape) {
    .send_block {
        width: fit-content;
        margin-left: auto;
        margin-right: 0.4rem;
    }
}

.edit_form .send_comment_block {
    width: fit-content;
    margin: 1px 0 1px auto;
}

.comment_area:focus-visible, .message_block:focus-visible {
    outline: none;
}

.single_chapter_top_menu.active {
    display: flex;
    background: rgba(75, 75, 75, 0.8);
    /*justify-content: space-between;*/
    width: 100%;
    height: 12%;
    position: absolute;
    top: 0;
    box-sizing: border-box;
    align-items: center;
}

.single_chapter_top_menu p {
    font-size: 4vw !important;
    font-weight: bold;
    color: white !important;
    text-align: center;
    padding: 0;
    line-height: 1;
}

.single_back_to_manga {
    height: fit-content;
    margin-left: 2vw
}

.single_back_to_manga p {
    font-size: 4vw !important;
    font-weight: bold;
    color: white !important;
}

.single_chapter_info {
    display: flex;
    flex-direction: column;
    gap: 2vw;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}


.tutorial_block {
    display: flex;
    flex-basis: 0;
    position: absolute;
    margin: auto;
    background: rgba(75, 75, 75, 0.8);
    /*opacity: 80%;*/
    height: 100%;
    width: 100%;
    z-index: 2;
}

.edge {
    border: 3px dashed var(--hover-text-color);
    border-radius: 5px;
}

.top_edge {
    display: flex;
    position: absolute;
    top: 0.5%;
    width: 99%;
    height: 11%;
    align-items: center;
    justify-content: center;
    background: rgba(97, 60, 255, 0.6);;
    box-sizing: border-box;
    left: 50%;
    transform: translateX(-50%);
}

.left_edge {
    display: flex;
    flex-basis: 0;
    position: absolute;
    left: 0.5%;
    top: 49.5%;
    transform: translateY(-50%);
    height: 74%;
    width: 20%;
    background: rgba(34, 145, 255, 0.6);;
    z-index: 2;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.tutorial_block p {
    /*font-size: 35px;*/
    text-align: center;
}

.right_edge {
    display: flex;
    flex-basis: 0;
    position: absolute;
    right: 0.5%;
    top: 49.5%;
    transform: translateY(-50%);
    height: 74%;
    width: 20%;
    background: rgba(17, 219, 13, 0.6);
    z-index: 2;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.bottom_edge {
    display: flex;
    position: absolute;
    bottom: 0.5%;
    width: 99%;
    height: 11%;
    background: rgba(255, 60, 60, 0.6);
    align-items: center;
    box-sizing: border-box;
    justify-content: center;
    left: 50%;
    transform: translateX(-50%);
}

.bottom_edge_left {
    display: flex;
    position: absolute;
    bottom: 0.5%;
    left: 25%;
    width: 49%;
    transform: translateX(-50%);
    height: 12%;
    border: 3px dashed var(--hover-text-color);
    background: rgba(255, 60, 60, 0.6);
    align-items: center;
    box-sizing: border-box;
    justify-content: center;
}

.bottom_edge_right {
    display: flex;
    position: absolute;
    bottom: 0.5%;
    right: 25%;
    width: 49%;
    transform: translateX(50%);
    height: 12%;
    border: 3px dashed var(--hover-text-color);
    background: #3cd2ff;
    align-items: center;
    box-sizing: border-box;
    justify-content: center;
}

.thanks_button {
    display: flex;
    position: absolute;
    left: 50%;
    bottom: 18%;
    transform: translateX(-50%)
}

.close_tutorial {
    display: flex;
    align-items: center;
    background: rgba(194, 194, 194, 1);
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 5px var(--hover-color);
}

.close_tutorial p {
    color: var(--hover-text-color) !important;
    line-height: 1.1;
    font-size: 0.9rem
}

.close_tutorial p {
    color: var(--text-color);
    font-weight: bold;
    padding: 5px 15px;
}

@media (orientation: portrait) {
    .tutorial_block p {
        font-size: 1rem !important;
    }

    .left_edge p, .right_edge p {
        transform: rotate(90deg);
    }

    .reply_button p {
        color: var(--text-color);
        font: 0.9rem 'Ubuntu';
        line-height: 1.3;
    }

    .reply_button {
        display: flex;
        flex-direction: row;
        gap: 3px
    }

    .comment_area, .message_block {
        width: 95%;
        padding: 5px;
        margin: 0 auto;
        background: var(--comment-element);
        resize: none;
        color: var(--text-color);
        font: 0.9rem 'Ubuntu' !important;
        box-sizing: border-box;
        border-radius: 5px;
        border: 2px dashed var(--text-color);
    }

    .comment_element {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 6px;
        position: relative;
        background: var(--comment-element);
        border-radius: 5px;
        gap: 5px;
        font: 1rem 'Ubuntu'
    }

}

@media (orientation: landscape) {
    .tutorial_block p {
        font-size: 3vh;
    }

    .reply_button p {
        color: var(--text-color);
        font: 500 1.1rem 'Ubuntu';
        /*line-height: 1.3;*/
    }

    .reply_button {
        display: flex;
        flex-direction: row;
        gap: 3px;
        align-items: center
    }

    .comment_area, .message_block {
        width: 95%;
        padding: 0.8rem;
        margin: 0 auto;
        background: var(--comment-element);
        resize: none;
        color: var(--text-color);
        font: 1.2rem 'Ubuntu' !important;
        box-sizing: border-box;
        border-radius: 5px;
        border: 2px dashed var(--text-color);
    }

    .comment_element {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 0.8rem;
        position: relative;
        background: var(--comment-element);
        border-radius: 5px;
        gap: 5px;
        font: 1rem 'Ubuntu'
    }

    .comments_block_top {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: absolute;
        top: 1.2rem;
        align-items: center;
        width: 94%;
        /* margin: 0 2.5%; */
        left: 50%;
        transform: translateX(-50%);
    }

}


.comment_top {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.double_block, .double_first, .double_last {
    display: flex;
}

.reverse {
    flex-direction: row-reverse;
}

.icon {
    width: 1.1rem;
    filter: var(--icon-color);
}