{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Вход</title>
</head>
<body>
    <div class="main_container {% if request.is_mobile %}mobile{% else %}desktop{% endif %}">
    
        {% if request.is_mobile %}
            <link rel="stylesheet" href="{% static 'main_section/css/login-mobile.css' %}">
            <link rel="stylesheet" href="{% static 'css/text-mobile.css' %}">
        {% else %}
            <link rel="stylesheet" href="{% static 'main_section/css/login.css' %}">
            <link rel="stylesheet" href="{% static 'css/text.css' %}">
        {% endif %}
    
        <div class="login_box">
            <h1>Вход в аккаунт</h1>
            
            {% if form.errors %}
                <p style="color: red;">Неверное имя пользователя или пароль.</p>
            {% endif %}
            
            <form method="post" class="login_form">
                {% csrf_token %}
                
                <div class="input_block">
                    <label for="id_username">Никнейм</label>
                    {{ form.username }}
                </div>
                
                <div class="input_block">
                    <label for="id_password">Пароль</label>
                    {{ form.password }}
                </div>
                
                <div class="btn_block">
                    <button class="login_btn" type="submit">Войти</button>
                </div>
            </form>
            <div class="another_action">
                <p>Нет аккаунта? <a href="{% url 'register' %}">Зарегистрироваться</a></p>
            </div>
        </div>
    </div>

    <script src="{% static 'js/theme.js' %}"></script>

</body>
</html>