{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Вход</title>
</head>
<body data-theme="light">
    <div class="main_container">
        <div class="login_box">
            <link rel="stylesheet" href="{% static 'main_section/css/login.css' %}">
            <h1>Вход в аккаунт</h1>
            
            {% if form.errors %}
                <p style="color: red;">Неверное имя пользователя или пароль.</p>
            {% endif %}
            
            <form method="post" class="login_form">
                {% csrf_token %}
                
                <div>
                    <label for="id_username">Никнейм:</label>
                    {{ form.username }}
                </div>
                
                <div>
                    <label for="id_password">Пароль:</label>
                    {{ form.password }}
                </div>
                
                <div class="btn_block">
                    <button class="login_btn" type="submit">Войти</button>
                </div>
            </form>
            <div class="another_action">
                <p>Нет аккаунта? <a href="{% url 'register' %}">Зарегистрироваться</a></p>
            </div>
        </div>
    </div>
</body>
</html>