@import url('../../../../static/css/themes.css');
@import url('../../../../static/css/text.css');


@font-face {
    font-family: 'Nunito';
    src: url('../fonts/Nunito-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Nunito';
    src: url('../fonts/Nunito-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Nunito';
    src: url('../fonts/Nunito-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Nunito';
    background: var(--background-color);
}

* {
    box-sizing: border-box;
}

.main_container {
    display: flex;
    width: inherit;
    height: inherit;
    /*border: 1px solid deepskyblue;*/
}

.login_box {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: fit-content;
    height: fit-content;
    margin: auto;
    padding: 20px;
    /*border: 2px solid black;*/
    border-radius: 10px;
    background-color: var(--block-color);
    transition: var(--tran-back);
}

.login_box h1 {
    margin: 0;
    padding: 0;
    text-align: center;
    /*border: 1px solid red;*/
}

.login_form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.login_form label {
    font-size: 16px;
    color: var(--text-color);
}

.login_form input {
    padding: 5px 10px;
    border: 2px solid darkgray;
    border-radius: 10px;
    background-color: var(--background-color);
    color: var(--text-color);
    font: 16px 'Nunito';
}

.login_form input:focus {
    outline: none;
    /*border-color: #ddd; !* Оставляем обычный цвет границы *!*/
    /*box-shadow: none; !* Убираем тень если есть *!*/
}

.captcha-container {
    display: flex;
    gap: 5px
}

.captcha-help {
    font-size: 12px !important;
    font-style: italic;
}

.btn_block {
    display: flex;
    width: fit-content;
    margin: 0 30px 0 auto;
}

.login_btn {
    font: 17px 'Nunito';
    font-weight: bold;
    display: flex;
    justify-content: center;
    padding: 2px 5px;
    background-color: var(--block-color);
    border: 2px solid darkgray;
    border-radius: 10px;
    /*cursor: pointer;*/
    color: var(--text-color);
    transition: var(--tran-back),
                border-bottom-color 0.5s ease,
                border-top-color 0.5s ease,
                border-left-color 0.5s ease,
                border-right-color 0.5s ease;
}

.login_btn:hover {
    background-color: var(--hover-color);
    border-color: var(--block-color);
    color: var(--hover-text-color);
    transition: var(--tran-back),
                border-bottom-color 0.5s ease,
                border-top-color 0.5s ease,
                border-left-color 0.5s ease,
                border-right-color 0.5s ease,
                color 0.5s ease;
}

.another_action {
    margin: 5px auto 0 auto;
    transition: var(--tran-back);
}

.another_action p {
    margin: 0;
    padding: 0;
}

.another_action a {
    text-decoration: none;
    font-weight: bold;
    font-size: 17px;
    color: var(--text-color);
    padding: 2px 5px;
    border: 2px solid darkgray;
    border-radius: 10px;
    transition: var(--tran-back),
                border-bottom-color 0.5s ease,
                border-top-color 0.5s ease,
                border-left-color 0.5s ease,
                border-right-color 0.5s ease;
    margin-left: 3px;
}

.another_action a:hover {
    background-color: var(--hover-color);
    border-color: var(--block-color);
    color: var(--hover-text-color);
    transition: var(--tran-back),
                border-bottom-color 0.5s ease,
                border-top-color 0.5s ease,
                border-left-color 0.5s ease,
                border-right-color 0.5s ease,
                color 0.5s ease;
}

.alert li {
    color: red;
}