@import url('../../../../static/css/themes.css');
@import url('../../../../static/css/text-mobile.css');


@font-face {
    font-family: 'Nunito';
    src: url('../fonts/Nunito-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Nunito';
    src: url('../fonts/Nunito-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Nunito';
    src: url('../fonts/Nunito-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Nunito';
    background: var(--background-color);
}

* {
    box-sizing: border-box;
}

.main_container {
    display: flex;
    width: inherit;
    height: inherit;
    /*border: 1px solid deepskyblue;*/
}

.login_box {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 700px;
    height: fit-content;
    margin: auto;
    padding: 20px;
    /*border: 2px solid black;*/
    border-radius: 10px;
    background-color: var(--block-color);
    transition: var(--tran-back);
}

.login_box h1 {
    margin: 0;
    padding: 0;
    text-align: center;
    /*border: 1px solid red;*/
}

.login_form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 10px;
}

.input_block {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0 auto;
}

.login_form label {
    font-size: 40px;
    color: var(--text-color);
    text-align: center;
}

.login_form input {
    padding: 5px 10px;
    /*border: 2px solid darkgray;*/
    border: none;
    border-radius: 10px;
    background-color: var(--background-color);
    color: var(--text-color);
    font: 40px 'Nunito';
    text-align: center;
}

.login_form input:focus {
    outline: none;
    /*border-color: #ddd; !* Оставляем обычный цвет границы *!*/
    /*box-shadow: none; !* Убираем тень если есть *!*/
}

.btn_block {
    display: flex;
    width: fit-content;
    margin: 0 auto;
}

.login_btn {
    font: 45px 'Nunito';
    font-weight: bold;
    display: flex;
    justify-content: center;
    padding: 4px 8px;
    background-color: var(--block-color);
    /*border: 2px solid darkgray;*/
    border: none;
    border-radius: 10px;
    /*cursor: pointer;*/
    color: var(--text-color);
    transition: var(--tran-back),
                /*border-bottom-color 0.5s ease,*/
                /*border-top-color 0.5s ease,*/
                /*border-left-color 0.5s ease,*/
                /*border-right-color 0.5s ease;*/
}

.captcha-block {
    margin-top: 10px;
}

.captcha-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.captcha {
    width: 70%;
}

.captcha-help {
    font-size: 30px !important;
    font-style: italic;
}

.another_action {
    margin: 5px auto 0 auto;
    transition: var(--tran-back);
}

.another_action p {
    margin: 0;
    padding: 0;
    font-size: 30px !important;
}

.another_action a {
    text-decoration: none;
    font-weight: bold;
    font-size: 35px;
    color: var(--text-color);
    padding: 4px 8px;
    /*border: 2px solid darkgray;*/
    border: none;
    border-radius: 10px;
    transition: var(--tran-back),
                border-bottom-color 0.5s ease,
                border-top-color 0.5s ease,
                border-left-color 0.5s ease,
                border-right-color 0.5s ease;
}