@import url('../../../../static/css/themes.css');
@import url('../../../../static/css/text.css');


@font-face {
    font-family: 'Nunito';
    src: url('../fonts/Nunito-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Nunito';
    src: url('../fonts/Nunito-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Nunito';
    src: url('../fonts/Nunito-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

body, html {
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Nunito';
    background: var(--background-color);
}

a, p, h1, h2, h3 {
    margin: 0;
    padding: 0;
    color: var(--text-color);
}

a {
    text-decoration: none;
    color: var(--text-color);
}

h1 {
    font-size: 23px;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

h3 {
    font-size: 18px;
    font-weight: bold;
    color: var(--text-color);
    transition: color 2s ease;
    margin: 0;
    padding: 0;
}

p {
    font-size: 17px;
    margin: 0;
    padding: 0;
}

.main_container {
    display: flex;
    flex-direction: column;
    /*justify-content: space-between;*/
    padding: 0 15px;
    /*background: #FAFAFA;*/
    width: 1000px;
    height: fit-content;
    margin: 0 auto;
    /*border: 2px solid #000000;*/
    border-radius: 5px;
    gap: 10px
}

.manga_and_post {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.updates_container {
    width: 495px;
    height: fit-content;
    /*border: 2px solid #000000;*/
    border-radius: 15px;
    background-color: var(--block-color);
}

.news_container {
    width: 495px;
    height: fit-content;
    /*margin: 10px 10px 10px 0;*/
    /*border: 2px solid #000000;*/
    border-radius: 15px;
    background-color: var(--block-color);
}

.block_title {
    display: flex;
    align-items: center;
    margin: 3px auto;
    width: fit-content;
    height: fit-content;
}

.block_title h1 {
    font-size: 20px;
    text-align: center;
    margin: 0 auto;
    /*border: 1px solid red;*/
}

.block_container {
    /*display: flex;*/
    width: 100%;
    /*border: 1px solid red;*/
    /*background-color: black;*/
}

.block {
    display: flex;
    width: 100%;
    /*border: 1px solid red;*/
    /*border-top: 2px solid black;*/
    height: fit-content;
}

.post_block {
    display: flex;
    width: 100%;
    /*border: 1px solid red;*/
    /*border-top: 2px solid black;*/
    height: fit-content;
}

.block_img {
    margin: 10px 0 10px 20px;
    height: fit-content;
    /*border: 1px solid red;*/
}

.block_img img {
    display: block;
    width: 90px;
    border-radius: 5px;
    /*border: 1px solid red;*/
}

.block_text {
    display: flex;
    flex-direction: column;
    /*align-content: center;*/
    width: 100%;
    margin: 10px 15px;
    /*border: 1px solid red;*/
}

.block_text h1 {
    margin-top: 0;
    font-size: 20px;
    /*border: 1px solid red;*/
}

.block_text h2 {
    margin-top: 0;
    font-size: 17px;
    font-weight: normal;
    /*border: 1px solid red;*/
}

.block_text p {
    font-size: 15px;
    margin-left: auto;
    margin-bottom: 0;
    width: fit-content;
    /*border: 1px solid red;*/
}

.block_info {
    display: flex;
    justify-content: center;
    width: fit-content;
    margin-bottom: 10px;
    box-sizing: border-box;
    border-radius: 10px;
}

.block_info:hover {
    background-color: var(--hover-color);
    transition: background-color 0.5s ease;
}

.block_info a {
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: var(--text-color);
    margin: 0;
    padding: 2px 5px;
    border-radius: 5px;
}

.block_info a:hover {
    color: var(--hover-text-color) !important;
    transition: color 0.5s ease;
}

.block_chapters {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    /*border: 1px solid red;*/
}

.one_chapter {
    flex: 0 0 auto;
    /*display: inline-block;*/
    width: auto;
    /*max-width: 100%;*/
    height: fit-content;
    /*border: 1px solid #e74c3c;*/
    border-radius: 5px;
    /*background: #fff;*/
    transition: all 0.2s ease;
    box-sizing: border-box;
    cursor: pointer;
}

.one_chapter:hover {
    /*box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);*/
    background-color: var(--hover-color);
    transition: background-color 0.5s ease;
}

.one_chapter a {
    display: flex;
    flex-direction: row;
    gap: 10px;
    white-space: normal;
    font-size: 16px;
    font-weight: 500;
    padding: 4px 8px;
    box-sizing: border-box;
    text-decoration: none;
    color: var(--text-color);
    /*width: 100%;*/
}

.one_chapter a:hover {
    color: var(--hover-text-color) !important;
    transition: color 0.5s ease;
}

.number {
    font-weight: bold;
}

.chapter_date {
    font-size: 12px;
    color: #7f8c8d;
    margin-top: 3px;
}

.post_block {
    display: flex;
    flex-direction: column;
    /*border: 1px solid red;*/
    /*border-top: 2px solid black;*/
}

.post_block_title {
    margin: 10px 0 10px 10px;
    width: fit-content;
    border-radius: 5px;
    padding: 2px 5px;
}

.post_block_title:hover {
    background-color: var(--hover-color);
    transition: background-color 0.5s ease;
}

.post_block_title a {
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: var(--text-color);
    margin: 0;
}

.post_block_title:hover a {
    color: var(--hover-text-color) !important;
    transition: color 0.5s ease;
}

.post_block_title h1 {
    margin: 0;
    padding: 2px 5px;
    font-size: 20px;
}

.post_block_content {
    margin: 0 15px 10px 15px;
    width: fit-content;
    /*border: 1px solid red;*/
}

.post_block_content p {
    margin: 0;
    padding: 0;
    font-size: 16px;
}

.tips_and_about {
    display: flex;
    flex-direction: row;
    /*justify-content: space-evenly;*/
    justify-content: center;
}

.tips_container {
    display: flex;
    /*align-items: center;*/
    flex-direction: row;
    width: fit-content;
    /*margin: 0 auto;*/
    /*position: fixed;*/
    top: 35%;
    right: calc(100% - 225px);
    background-color: var(--block-color);
    border-radius: 10px;
}

.tips_container img {
    width: 175px;
    margin: 10px;
}

.tips_link {
    display: flex;
    align-items: center;
    margin: 10px 10px 10px 0;
}

.tips_link a {
    padding: 2px 5px;
    text-decoration: none !important;
    font-weight: bold;
    border-radius: 10px;
}

.tips_link a:hover {
    background: var(--hover-color);
    transition: background-color 0.5s;
}

.tips_link h1:hover {
    color: var(--hover-text-color) !important;
    transition: color 0.5s;
}

.about_site {
    height: fit-content;
    padding: 15px;
    background-color: var(--block-color);
    border-radius: 10px;
}