@import url('../../../../static/css/themes.css');
@import url('../../../../static/css/text-mobile.css');


body, html {
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Nunito';
    background: var(--background-color);
}

.main_container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100vw;
    height: fit-content;
    margin-top: 110px;
    /*border-radius: 5px;*/
}

.updates_container {
    width: 495px;
    height: fit-content;
    /*border: 2px solid #000000;*/
    /*border-radius: 15px;*/
    background-color: var(--block-color);
}

.contain_block {
    width: 100vw;
    height: fit-content;
    margin: 0 auto;
    /*margin: 10px 10px 10px 0;*/
    /*border: 2px solid #000000;*/
    /*border-radius: 15px;*/
    background-color: var(--block-color);
}

.block_title {
    display: flex;
    align-items: center;
    margin: 3px auto;
    width: fit-content;
    height: fit-content;
}

.block_title h1 {
    font-size: 20px;
    text-align: center;
    margin: 0 auto;
    /*border: 1px solid red;*/
}

.block_container {
    /*display: flex;*/
    width: 100%;
    /*border: 1px solid red;*/
    /*background-color: black;*/
}

.block {
    display: flex;
    width: 100%;
    /*border: 1px solid red;*/
    /*border-top: 2px solid black;*/
    height: fit-content;
}

.post_block {
    display: flex;
    width: 100%;
    /*border: 1px solid red;*/
    /*border-top: 2px solid black;*/
    height: fit-content;
}

.block_img {
    margin: 10px 0 10px 20px;
    height: fit-content;
    /*border: 1px solid red;*/
}

.block_img img {
    display: block;
    width: 170px;
    border-radius: 5px;
    /*border: 1px solid red;*/
}

.block_text {
    display: flex;
    flex-direction: column;
    /*align-content: center;*/
    width: 100%;
    margin: 10px 15px;
    /*border: 1px solid red;*/
}

.block_text h1 {
    margin-top: 0;
    font-size: 20px;
    /*border: 1px solid red;*/
}

.block_text h2 {
    margin-top: 0;
    font-size: 17px;
    font-weight: normal;
    /*border: 1px solid red;*/
}

.block_text p {
    /*font-size: 15px;*/
    margin-left: auto;
    margin-bottom: 0;
    width: fit-content;
    /*border: 1px solid red;*/
}

.block_info {
    display: flex;
    justify-content: center;
    width: fit-content;
    margin-bottom: 10px;
    box-sizing: border-box;
    border-radius: 10px;
}

.block_info a {
    /*font-size: 20px;*/
    font-weight: 800;
    text-decoration: none;
    color: var(--text-color);
    margin: 0;
    padding: 2px 5px;
    border-radius: 5px;
}

.block_chapters {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    margin-left: 20px;
    /*border: 1px solid red;*/
}

.one_chapter {
    flex: 0 0 auto;
    /*display: inline-block;*/
    width: auto;
    /*max-width: 100%;*/
    height: fit-content;
    /*border: 1px solid #e74c3c;*/
    border-radius: 5px;
    /*background: #fff;*/
    transition: all 0.2s ease;
    box-sizing: border-box;
    cursor: pointer;
}

.one_chapter a {
    display: flex;
    flex-direction: row;
    gap: 10px;
    white-space: normal;
    /*font-size: 16px;*/
    font-weight: 500;
    padding: 4px 8px;
    box-sizing: border-box;
    text-decoration: none;
    color: var(--text-color);
    /*width: 100%;*/
}

.number {
    font-weight: bold;
}

.chapter_date {
    font-size: 12px;
    color: #7f8c8d;
    margin-top: 3px;
}

.post_block {
    display: flex;
    flex-direction: column;
    /*border: 1px solid red;*/
    /*border-top: 2px solid black;*/
}

.post_block_title {
    margin: 10px 20px;
    width: fit-content;
    border-radius: 5px;
}

.post_block_title a {
    /*font-size: 20px;*/
    font-weight: 800;
    text-decoration: none;
    color: var(--text-color);
    /*padding: 2px 5px;*/
    margin: 0;
}

.post_block_title h1 {
    margin: 0;
    padding: 2px 5px;
    font-size: 20px;
}

.post_block_content {
    margin: 0 20px 10px 20px;
    width: fit-content;
    /*border: 1px solid red;*/
}

.post_block_content p {
    margin: 0;
    padding: 0;
    /*font-size: 16px;*/
}

.tips_container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: fit-content;
    position: fixed;
    top: 35%;
    right: calc(100% - 225px);
    background-color: var(--block-color);
    border-radius: 10px;
}

.tips_container img {
    width: 175px;
    margin: 10px;
}

.tips_link {
    width: 150px;
    margin-top: -5px;
    margin-bottom: 6px;
    text-align: center !important;
}

.tips_link a {
    padding: 0;
    text-decoration: underline !important;
    font-weight: bold;
}