@media (max-width: 700px) {
    .feed_container {
        display: flex;
        flex-direction: column;
        gap: 1%;
        position: absolute;
        top: 8%;
        left: 50%;
        transform: translateX(-50%);
        width: 95%;
        height: 90%;
        color: var(--text-color);
        overflow: hidden;
    }

    .home_container {
        display: flex;
        flex-direction: column;
        gap: 0.4em;
        width: 100%;
        overflow: auto !important;
        scrollbar-width: none;
        max-height: 100%;
    }

    .feed {
        display: flex;
        flex-direction: column;
        gap: 0.5em;
        background: var(--block-color);
        border-radius: 5px;
        padding: 6px 10px;
    }

    .feed_content {
        display: flex;
        flex-direction: row;
        gap: 3%;
    }

    .feed_manga_cover {
        width: 6em;
        height: fit-content;
        border-radius: 5px;
    }

    .chapters_list {
        display: flex;
        flex-direction: column;
        gap: 1em
    }

    .chapter.viewed {
        border-left: 2px solid var(--text-color);
    }

    .chapter.last_read {
        border-left: 2px solid #ffbf00;
    }

    .chapter {
        border-left: 2px dashed var(--text-color);
        padding-left: 5px
    }

    .chapter p {
        font-weight: 500
    }
}

.feed_comments_container {
    height: 100%;
    width: 34%;
    /*border: 1px solid red;*/
    background: var(--block-color);
    border-radius: 5px;
}

@media (min-width: 700px) {
    .feed_container {
        display: flex;
        flex-direction: column;
        gap: 0.8rem;
        width: 50%;
        height: 100vh;
        margin: 0 auto;
        color: var(--text-color);
        overflow: hidden;
    }

    .home_container {
        display: flex;
        flex-direction: column;
        gap: 0.8rem;
        width: 100%;
        overflow: auto !important;
        scrollbar-width: none;
        /*max-height: 100%;*/
        margin-top: 8%;
        height: inherit;
    }

    .feed {
        display: flex;
        flex-direction: column;
        gap: 0.5em;
        background: var(--block-color);
        border-radius: 5px;
        padding: 0.8rem;
    }

    .feed:last-child {
        margin-bottom: 0.8rem;
    }

    .feed_top a h3 {
        font-weight: 500;
    }

    .feed_content {
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }

    .feed_manga_cover {
        width: 9rem;
        height: fit-content;
        border-radius: 5px;
    }

    .chapters_list {
        display: flex;
        flex-direction: column;
        gap: 1em
    }

    .description p {
        font-weight: 100
    }

    .chapter.viewed {
        border-left: 0.25rem solid var(--text-color);
    }

    .chapter.last_read {
        border-left: 0.25rem solid #ffbf00;
    }

    .chapter {
        border-left: 0.25rem dashed var(--text-color);
        padding: 2px 5px;
    }



    .chapter p {
        /*font-weight: 500;*/
        line-height: 1;
    }
}