@import url('../../../../static/css/new_themes.css');
@import url('../../../../static/css/new_text.css');

body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu';
    background: var(--background-color);
    scrollbar-width: none;
}

/* MENTION: ИКОНКИ */
.icon {
    filter: var(--icon-color);
    margin: 0;
    padding: 0;
}

button {
    background: none;
    border: none;
}

@media (orientation: portrait) {
    .icon {

    }
}

@media (orientation: landscape) {
    .icon {
        width: 20px;
        margin-right: 5px;
    }
}

/* MENTION: ИКОНКИ */

/* MENTION: Mobile режим */
@media (max-width: 700px) {
    .page_container {
        width: 100%;
        height: 100%;
    }

    .landscape {
        display: none !important;
    }

    .portrait {
        display: flex;
    }

    .top_panel_container {
        display: flex;
        background: var(--block-color);
        width: 95%;
        max-width: 580px;
        height: 6%;
        position: fixed;
        left: 50%;
        transform: translateX(-50%) translateY(20%);
        /*top: 1.5%;*/
        border-radius: 5px;
        align-items: center;
        z-index: 2;
    }

    .site_name {
        margin-left: 3%;
    }

    .profile_menu_btn_mobile {
        width: 2.3rem;
        height: auto;
        margin: 0 0.6% 0 auto;
    }

    .menu-icon-mobile {
        display: none;
    }

    .menu-icon-mobile.show {
        display: flex;
    }

    .shadow {
        width: 100vw;
        height: 100vh;
        background: var(--shadow);
        z-index: 1;
        position: absolute;
        top: 6vh;
        left: 0;
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.3s
    }

    .shadow.show {
        opacity: 1;
        pointer-events: auto;
        transition: opacity 0.3s
    }

    .profile_menu_mobile {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        position: fixed;
        top: 3.8rem;
        right: 0;
        width: 80%;
        /*height: fit-content;*/
        min-height: 23.5rem;
        padding: 4% 0;
        background: var(--block-color);
        border-radius: 5px;
        transition: opacity 0.3s, transform 0.3s;
        opacity: 0;
        transform: scale(0.7); /* Уменьшенный */
        transform-origin: top right;
        pointer-events: none;
        z-index: 2;
    }

    .profile_menu_mobile.show {
        opacity: 1;
        transform: scale(1);
        pointer-events: auto;
    }

    .profile_block {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 0 4%;
    }

    .settings_block {
        display: flex;
        flex-direction: column;
        /*justify-content: space-between;*/
        /*align-items: center;*/
        margin: 0 4%;
        gap: 20px;
    }

    .profile_element, .exit_mobile, .theme_block {
        display: flex;
        flex-direction: row;
        gap: 3px
    }

    .profile_element {
        gap: 4px !important;
    }

    .profile_element img {
        width: 1.1rem;
    }

    .profile_icon, .logout_icon, .theme-icon .icon, .reader-icon .icon, .reset-icon, .q_a_icon {
        width: 1.5rem;
    }

    .donate {
        width: 1.3rem
    }

    .reader_block {
        display: flex;
    }

    .theme_block, .reader_block {
        gap: 15px !important;
        align-items: start;
    }

    .reader_button_block {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .theme-icon, .reader-icon {
        display: none;
    }

    .theme-icon.show, .reader-icon.show, .reset_reader_mobile {
        display: flex;
        gap: 3%;
    }

    .exit_mobile h3, .theme_block h2, .theme-icon h2, .reader_block h2 {
        font-weight: 500 !important;
        font-family: 'Ubuntu'
    }

    .reader_block h2 {
        text-align: start;
    }

    .theme-toggle, .reader-toggle, .reset_reader_mobile {
        background: var(--element-color);
        border-radius: 5px;
        padding: 6px 12px 6px 10px;
    }

    .theme-toggle {
        padding: 6px 12px 6px 10px !important;
    }

    .reader-toggle {
        width: fit-content;
        padding: 6px 12px 6px 10px !important;
    }

    .links_block {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        margin: 0 4%;
    }

    .link {
        /*border-left: 5px solid var(--text-color);*/
        /*padding-left: 10px;*/
        display: flex;
        gap: 2%
    }

    .link h3, .exit_mobile h3 {
        text-decoration: underline dotted;
    }

    .page_container {
        display: flex;
        flex-direction: column;
        height: inherit;
        overflow: auto;
        scrollbar-width: none
    }
}



/* MENTION: Desktop режим */
@media (min-width: 700px) {
    .portrait {
        display: none;
    }

    .landscape {
        display: flex;
    }

    .top_panel_container {
        background: var(--block-color);
        /*margin: 0.8rem auto;*/
        padding: 0.3rem 0;
        width: 50%;
        height: 5%;
        border-radius: 15px;
        align-items: center;
        position: fixed;
        left: 50%;
        transform: translateX(-50%);
        border: 0.8rem solid var(--background-color);
        z-index: 2;
    }

    .site_name {
        height: fit-content;
        margin: 0 20px;
    }

    .site_name h1 {
        margin: 0;
        padding: 0;
    }

    .top_buttons {
        display: flex;
        flex-direction: row;
        gap: 40px;
        margin: 0 20px 0 auto;
    }

    .top_panel_button {
        display: flex;
        flex-direction: row;
        gap: 1px;
        height: fit-content;
    }

    .donate {
        width: 1rem;
    }

    .top_panel_button h2, .profile_menu_btn h2 {
        font-weight: 500;
        line-height: 1;
    }

    .profile_menu_btn {
        display: flex;
        flex-direction: row;
        background: none;
        border: none;
        margin: 0 20px;
        padding: 0;
        width: fit-content;
        height: fit-content;
        cursor: pointer;
        font-family: inherit;
    }

    .profile_menu {
        display: flex;
        flex-direction: column;
        gap: 25px;
        position: absolute;
        top: 4.7rem;
        right: 0;
        background: var(--block-color);
        border-radius: 5px;
        border: 3px dashed var(--text-color);
        padding: 10px;
        transition: opacity 0.3s, transform 0.3s;
        opacity: 0;
        transform: scale(0.7);
        transform-origin: top right;
        z-index: 2;
        width: fit-content;
        height: fit-content;

    }

    .profile_menu.show {
        opacity: 1;
        transform: scale(1);
    }

    .menu_item {
        display: flex;
        width: fit-content;
        min-height: 3.6rem;
        align-items: center;
    }

    .menu_item a, .menu_item button {
        display: flex;
        background: none;
        border: none;
        padding: 3px 6px;
        /*padding: 0;*/
        margin: 0;
    }

    .menu_item a {
        display: flex;
        min-width: 8.5rem;
    }

    .menu_item p {
        color: var(--text-color);
        font: bold 20px 'Nunito';
    }

    .theme-toggle, .reset_reader {
        background: none;
        border: none
    }

    .theme-icon {
        display: none;
    }

    .theme-icon.show {
        display: flex;
    }

    .reader-toggle {
        display: flex;
    }

    .reader-icon {
        display: none;
    }

    .reader-icon.show {
        display: flex;
    }

    .reader-icon img {
        margin-right: 5px;
    }

    .reader-icon p, .reset_reader p {
        text-align: start;
        line-height: 1.1;
    }

    .desktop_shadow {
        width: 100%;
        height: 100vh;
        background: var(--shadow);
        z-index: 1;
        position: absolute;
        top: 6vh;
        left: 0;
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.3s
    }

    .desktop_shadow.show {
        opacity: 1;
        pointer-events: auto;
        transition: opacity 0.3s
    }

    .page_container {
        display: flex;
        flex-direction: column;
        height: fit-content;
        overflow: auto;
        scrollbar-width: none
    }
}