@import url('../../../../static/css/themes.css');


@font-face {
    font-family: 'Nunito';
    src: url('../fonts/Nunito-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Nunito';
    src: url('../fonts/Nunito-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Nunito';
    src: url('../fonts/Nunito-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

:root {
    --hover_icon: invert(100%) sepia(0%) saturate(0%) hue-rotate(16deg) brightness(111%) contrast(102%);
}

body, html {
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Nunito';
    background: var(--background-color);
}

.top_panel_container {
    display: flex;
    height: 40px;
    width: 1000px;
    margin: 5px auto 8px auto;
    align-items: center;
    background-color: var(--top-panel-color);
    border-radius: 20px;
}

.site_name_container {
    display: flex;
    height: 30px;
    padding-right: 15px;
    align-items: center;
    margin-left: 25px;
}

.site_name_container p {
    font-size: 20px;
    font-weight: 500;
}

.buttons_container {
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
    margin-left: 20px;
    margin-right: auto;
}

.buttons_container a {
    font-size: 18px;
    font-weight: 500;
}

.top_panel_button {
    display: flex;
    border-radius: 10px;
    transition: var(--tran-back);
}

.top_panel_button a {
    padding: 2px 5px;
    font-size: 18px;
    font-weight: bold;
    color: var(--text-color);
    /*transition: var(--tran-font);*/
}

.top_panel_button:hover {
    background-color: var(--hover-color);
    transition: var(--tran-back);
}

.top_panel_button a:hover {
    color: var(--hover-text-color) !important;
    transition: var(--tran-font);
}

.profile_container {
    display: flex;
    justify-content: center;
    margin-right: 20px;
    /*border-radius: 5px;*/
    gap: 5px
}

.profile_container p {
    color: white;
    margin: 0;
    padding: 0;
}

.profile_button_block {
    border-radius: 10px;
    transition: var(--tran-back);
}

.profile_button_block button {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3px;
}

.profile_button_block button img {
    width: 24px;
    filter: var(--icon-color)
}

.profile_button_block button p {
    font: bold 18px 'Nunito';
    color: var(--text-color)
}

.profile_button_block:hover {
    background-color: var(--hover-color);
    transition: var(--tran-back);
}

.profile_button_block:hover button img {
    filter: var(--icon-hover-color);
    transition: var(--tran-icon);
}

.profile_button_block:hover button p {
    color: var(--hover-text-color) !important;
    transition: var(--tran-font);
}

.profile_container button {
    font: bold 18px "Nunito";
    padding: 2px 5px;
    border: none;
    border-radius: 10px;
    background: none;
}

.profile_container a {
    text-decoration: none;
    font-weight: 500;
    color: #FFFFFF;
    padding: 4px 8px;
    font-size: 18px;
}

.profile_menu {
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    position: fixed;
    gap: 10px;
    margin-right: 10px;
    top: calc(10px);
    left: calc(50% + 500px + 10px);
    transition: opacity 0.5s ease, visibility 0.5s ease;
    /*border: 2px solid black;*/
    /*border-radius: 5px;*/
}

.show {
    opacity: 1;
    visibility: visible;
}

.menu_item {
    display: flex;
    /*border: 1px solid red;*/
    width: fit-content;
    padding: 3px 6px;
    border-radius: 10px;
    background-color: var(--block-color);
    transition: var(--tran-back);
}

.menu_item:hover {
    background-color: var(--hover-color);
    transition: var(--tran-back);
}

.menu_item:hover a p {
    color: var(--hover-text-color);
    transition: color 0.5s ease;
}

.menu_item:hover a img {
    filter: var(--icon-hover-color);
    transition: filter 0.5s ease;

}

.menu_item a {
    display: flex;
    text-decoration: none;
    color: black;
}

.menu_item a img {
    width: 24px;
    filter: var(--icon-color);
    align-items: center;
}

.menu_item button {
    background: none;
    border: none;
    padding: 0;
}

.theme-icon {
    display: none;
    flex-direction: row;
    align-items: center;
    font: 16px 'Nunito';
    color: var(--text-color);
}

.theme-icon.show {
    display: flex;
}

.theme-icon img {
    filter: var(--icon-color);
    margin-right: 1px;
}

.menu_item:hover span img {
    filter: var(--icon-hover-color);
    transition: filter 0.5s ease;
}

.menu_item:hover span {
    color: var(--hover-text-color);
    transition: color 0.5s ease;
}

.login {
    display: flex;
    align-items: center;
    border-radius: 5px;
}

.login:hover {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.6);
}

.login a {
    margin: 0;
    padding: 2px 5px;
}