<div class="form_block">
    <form class="comment_form"
          hx-post="{% url 'reply' post_id comment_id %}"
          hx-target="#comments-container"
          hx-swap="innerHTML"
          hx-trigger="submit">
        {% csrf_token %}
        <textarea class="message_block" type="text" name="text" id="reply-on-{{ comment_id }}" placeholder="Твой ответ" required autofocus></textarea>
        <div class="send_block">
            <input onclick="scrollDown()" class="send_btn" type="submit" value="Отправить">
        </div>
    </form>
</div>