body.light-theme {
    --background-color: #FFFFFF;
    --text-color: #000000;
    --top-panel-color: #D9D9D9;
    --block-color: #D9D9D9;
    --hover-color: #585858;
    --hover-text-color: #FFFFFF;
    --element-color: #BFBFBF;
    --icon-color: invert(0%) sepia(96%) saturate(15%) hue-rotate(246deg) brightness(105%) contrast(105%);
    --icon-hover-color: invert(100%) sepia(2%) saturate(9%) hue-rotate(16deg) brightness(103%) contrast(100%);
    --tran-back: background 0.5s ease;
    --tran-icon: filter 0.5s ease;
    --tran-font: color 0.5s ease;
}

body.dark-theme {
    --background-color: #000000;
    --text-color: #FFFFFF;
    --top-panel-color: #262626;
    --block-color: #202020;
    --hover-color: #A7A7A7;
    --hover-text-color: #000000;
    --element-color: #404040;
    --icon-color: invert(100%) sepia(2%) saturate(9%) hue-rotate(16deg) brightness(103%) contrast(100%);
    --icon-hover-color: invert(0%) sepia(0%) saturate(7500%) hue-rotate(251deg) brightness(93%) contrast(107%);
    --tran-back: background-color 0.5s ease;
    --tran-icon: filter 0.5s ease;
    --tran-font: color 0.5s ease;
}

