{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <div class="top_container">
        <div class="back top_element"><p>← К манге</p></div>
        <div class="page_num top_element"><p>Стр. 3—2</p></div>
        <div class="ch_num top_element"><p>Глава 2-13</p></div>
        <div class="rate_block top_element">
            <img src="{% static 'manga_section/icons/arrow_up.svg' %}">
            <p>75%</p>
            <img src="{% static 'manga_section/icons/arrow_down.svg' %}">
        </div>

    </div>
</body>
</html>