<script>
    const totalDouble = {{ double_page_mode|length }}
    const pageDouble = document.querySelectorAll('.double');

    function updateDoublePage() {
        const commentWindow = document.querySelector('.comments_container');
        if (commentWindow.classList.contains('active')) {
            commentWindow.classList.remove('active');
            commentWindow.classList.add('hidden');
        }
        pageDouble.forEach(pair => {
            pair.classList.add('hidden');
            pair.classList.remove('active');
        });
        pageNumbers.forEach(pair => {
            pair.classList.add('hidden');
            pair.classList.remove('active');
        });
        pageDouble[currentDouble].classList.remove('hidden');
        pageDouble[currentDouble].classList.add('active');
        pageNumbers[currentDouble].classList.remove('hidden');
        pageNumbers[currentDouble].classList.add('active');
        {#console.log(getCurrentPageNumber())#}
    }


    function goToNextDouble() {
        if (currentDouble < totalDouble) {
            let doubleImage = pageDouble.querySelector(`.page[data-page-number="${currentSingle}"]`);
            let nextDoubleImage = pageDouble.querySelector(`.page[data-page-number="${currentSingle + 1}"]`)
            let orientation;
            let nextOrientation;
            if (doubleImage) {
                orientation = checkImageOrientation(doubleImage);
            }
            if (nextDoubleImage) {
                nextOrientation = checkImageOrientation(nextDoubleImage);
            }
            if (currentSingle + 1 === lastPage) {
                currentSingle++;
            } else {
                currentSingle += 2;
            }
            updateLink(currentSingle);
            currentDouble++;

            updateDoublePage();
            updateSinglePage();

        } else if (currentDouble === totalDouble && next_chapter) {
            window.location.href = `/manga/${manga_slug}/chapter/${next_chapter}/`;
        } else if (currentDouble === totalDouble && !next_chapter) {
            window.location.href = `/manga/${manga_slug}/`;
        }
    }

    function goToPreviousDouble() {
        if (currentDouble > 1) {
            let doubleImage = pageDouble.querySelector(`.page[data-page-number="${currentSingle}"]`);
            let prevDoubleImage = pageDouble.querySelector(`.page[data-page-number="${currentSingle - 2}"]`)
            let orientation;
            let prevOrientation;
            if (doubleImage) {
                orientation = checkImageOrientation(doubleImage);
            }
            if (prevDoubleImage) {
                prevOrientation = checkImageOrientation(prevDoubleImage);
            }
            currentDouble--;
            currentSingle--;
            updateLink(currentSingle);
        } else if (currentDouble === 1 && prev_chapter) {
            window.location.href = `/manga/${manga_slug}/chapter/${prev_chapter}/`;
        } else if (currentDouble === 1 && !prev_chapter) {
            window.location.href = `/manga/${manga_slug}/`;
        }
    }

    // NOTE: Если переключение стрелками будет ломать подсчёт, скорее всего, нужно вписать вместо обычных функций замедленные
    document.addEventListener('keydown', function (event) {
        if (event.key === 'ArrowRight') {
            goToPreviousDouble();
        } else if (event.key === 'ArrowLeft') {
            goToNextDouble();
        }
    });

    updateDoublePage();
</script>