{% load static %}

<div class="form_block">
    <form class="comment_form reply_form"
          hx-post="{% url 'comment_reply' comment.id %}"
          hx-target="#double_comments_list"
          hx-swap="beforeend"
          hx-trigger="submit">
        {% csrf_token %}
        <textarea class="message_block" type="text" name="text" id="reply-on-{{ comment.id }}" placeholder="Твой ответ" required autofocus autocomplete="off"></textarea>
        <div class="send_block">
            <!-- Здесь должна вызываться функция прокрутки, но я её забраковал -->
            <input onclick="loadReplyButton(this)" data-comment-id="{{ comment.id }}" class="send_comment" type="submit" value="Отправить">
        </div>
    </form>
</div>