{% extends "top_panel.html" %}
{% load static %}

{% block title %}
    <title>{{ manga.manga_name }} - Глава {{ chapter.get_chapter_display }}</title>
{% endblock %}

{% block content %}
    <link rel="stylesheet" href="{% static 'manga_section/css/chapter_page.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.7/dist/htmx.min.js"></script>
    
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            htmx.config.useTemplateFragments = true;
            
            document.body.addEventListener('htmx:configRequest', function(evt) {
                evt.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
            });
        });
    </script>
    
    <div class="container">
    
        <div class="main_container">
            {% for image in images %}
                <div class="image_block">
                    <img src="{{ image.page_image.url }}">
                </div>
            {% endfor %}
        </div>
        
        <div class="side_bar">
            <div class="credits">
                {% if chapter.interpreter.all %}
                    <h1>Переводчик:</h1>
                    {% for person in chapter.interpreter.all %}
                        <a href="{{ person.link_for_offers }}"><h2>{{ person.staff_name }}</h2></a>{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                {% endif %}
                {% if chapter.editor.all %}
                    <h1>Редактор:</h1>
                    {% for person in chapter.editor.all %}
                        <a href="{{ person.link_for_offers }}"><h2>{{ person.staff_name }}</h2></a>{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                {% endif %}
                {% if chapter.retoucher.all %}
                    <h1>Ретушёр:</h1>
                    {% for person in chapter.retoucher.all %}
                        <a href="{{ person.link_for_offers }}"><h2>{{ person.staff_name }}</h2></a>{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                {% endif %}
                {% if chapter.typesetter.all %}
                    <h1>Верстальщик:</h1>
                    {% for person in chapter.typesetter.all %}
                        <a href="{{ person.link_for_offers }}"><h2>{{ person.staff_name }}</h2></a>{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                {% endif %}
                {% if chapter.sfx_artist.all %}
                    <h1>Художник по звукам:</h1>
                    {% for person in chapter.sfx_artist.all %}
                        <a href="{{ person.link_for_offers }}"><h2>{{ person.staff_name }}</h2></a>{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
            
            <!-- Включаем partial напрямую -->
            {% include 'partials/rating_block.html' with manga=manga chapter=chapter like_percentage=like_percentage user_rating=user_rating %}
            
        </div>
    
    </div>
{% endblock %}