{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, viewport-fit=auto">
    <meta name="htmx-config" content='{"debug":true}'>
    <title>{{ manga.manga_name }} — Глава {{ chapter.get_chapter_display }}</title>
</head>
<body class="dark-theme">
    <link rel="stylesheet" href="{% static 'manga_section/css/new_chapter_page.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.7/dist/htmx.min.js"></script>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            htmx.config.useTemplateFragments = true;

            document.body.addEventListener('htmx:configRequest', function(evt) {
            evt.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
            });
        });

        let params = new URLSearchParams(window.location.search);
        let requestedPage;
        const firstPage = {{ first_page }};
        const lastPage = {{ last_page }};
        if ((Number(params.get('page')) > 0) && (Number(params.get('page')) <= lastPage)) {
            requestedPage = Number(params.get('page'))
        } else {
            requestedPage = 1;
            updateLink(requestedPage);
        }
        // Принимает человекочитаемый номер
        let currentSingle = requestedPage;
        document.addEventListener('DOMContentLoaded', function() {
            if ((currentSingle % 2 === 0) && checkImageOrientation(document.querySelector(`.page[data-page-number="${currentSingle + 1}"]`))) {
                currentSingle++;
                updateLink(currentSingle);
             }
        });
        let currentDouble;
        if (currentSingle % 2 === 0) {
            currentDouble = (currentSingle + 2) / 2;
        } else {
            currentDouble = (currentSingle + 1) / 2;
        }
        console.log(`INIT | Single: ${currentSingle} | Double: ${currentDouble}`)

        const manga_slug = "{{ manga.manga_slug }}";
        const next_chapter = {% if next_chapter %}"{{ next_chapter }}"{% else %}null{% endif %};
        const prev_chapter = {% if prev_chapter %}"{{ prev_chapter }}"{% else %}null{% endif %};

        // Обновление текущего номера страницы в ссылке
        function updateLink(currentSingle) {
            let params = new URLSearchParams(window.location.search);
            params.set('page', currentSingle);
            window.history.pushState({}, '', `${window.location.pathname}?${params}`);
        }

        function checkImageOrientation(imgElement) {
            if (imgElement.complete) { // Изображение уже загружено
                return imgElement.naturalWidth > imgElement.naturalHeight;
            }
            return null; // Ещё не загружено
        }

        function simpleOrientationTracker() {
            const mediaQuery = window.matchMedia('(orientation: landscape)');

            const handleOrientationChange = (e) => {
                if (e.matches) {
                    // ЛАНДШАФТ
                    {#console.log('🔄 Повернули в ЛАНДШАФТ');#}
                    let params = new URLSearchParams(window.location.search);
                    if ((Number(params.get('page')) % 2 === 0) && !(Number(params.get('page')) === 0) && !(Number(params.get('page')) === lastPage))  {
                        currentSingle++;
                        updateLink(currentSingle);
                    }
                    updateDoublePage();
                    let rotationBlock = document.querySelector('.single_comments_container')
                    let rotationComment = document.querySelector('.single_comment_show')
                    if (rotationComment) {
                        rotationComment.removeAttribute('id')
                        rotationBlock.classList.remove('active')
                        rotationBlock.classList.add('hidden')
                    }
                } else {
                    // ПОРТРЕТ
                    {#console.log('🔄 Повернули в ПОРТРЕТ');#}
                    let params = new URLSearchParams(window.location.search);
                    if ((!(Number(params.get('page')) % 2 === 0) && !(Number(params.get('page')) === 1)) && !(checkImageOrientation(document.querySelector(`.page[data-page-number="${Number(params.get('page'))}"]`))))  {
                        currentSingle--;
                        updateLink(currentSingle);
                    }
                    updateSinglePage();
                    let rotationBlock = document.querySelector('.comments_container')
                    let rotationComment = document.querySelector('.comment_show')
                    if (rotationComment) {
                        rotationComment.removeAttribute('id')
                        rotationBlock.classList.remove('active')
                        rotationBlock.classList.add('hidden')
                    }
                }
            };

            mediaQuery.addEventListener('change', handleOrientationChange);

            // Вызвать сразу при загрузке
            handleOrientationChange(mediaQuery);
        }

        document.addEventListener('DOMContentLoaded', function() {
            simpleOrientationTracker();
        });


    </script>


    <div class="global_container">

        <div class="chapter_container" data-reader_mode="{{ request.user.profile.reader_mode }}">

            <!--Одностраничный вывод-->
            <div class="single_page page_container">

                {% if user.profile.viewed_single == False %}
                    <div class="tutorial_block" id="single_tutorial_block">
                        <div class="top_edge">
                            <p>Навигация и оценка главы<br>(чтобы убрать панель,<br>нажми в пустой области ниже)</p>
                        </div>
                        <div class="left_edge">
                            <p>Следующая страница&nbsp;/&nbsp;глава</p>
                        </div>
                        <div class="right_edge">
                            <p>Предыдущая страница&nbsp;/&nbsp;глава</p>
                        </div>
{#                        <div class="rate"><p>Оценка&nbsp;главы</p></div>#}
                        <div class="bottom_edge">
                            <p>Комментарии<br>(чтобы убрать окно, нажми на эту же кнопку)</p>
                        </div>
                        <div class="thanks_button">
                            {% include 'partials/single_tutorial_button_block.html' %}
                        </div>
                    </div>
                {% endif %}

                {% for stranica in single_page_mode %}
                <div class="single page_block {% if forloop.first %}active{% else %}hidden{% endif %}">
                    <img src="{{ stranica.page_image.url }}"
                                 class="page spread-page"
                                 data-page-id="{{ stranica.id }}" data-page-number="{{ stranica.page_number }}">
                </div>
                {% endfor %}

                <aside class="top_panel_chapter aside_button">
                    <button class="active" id="single-chapter-top-menu-button" onclick="openSingleChapterMenu(this)
"></button>
                </aside>
                 <aside class="toggle_next single_next read_btn aside_button">
                    <button id="next_page" onclick="debouncedGoToNextSingle()"></button>
                </aside>
                <aside class="toggle_prev single_prev read_btn aside_button">
                    <button id="prev_page" onclick="debouncedGoToPreviousSingle()"></button>
                </aside>
                <aside class="comment_menu aside_button">
                    <button onclick="loadSinglePageContent()"></button>
                </aside>

                <div class="single_comments_container hidden">
                    <div class="single_comment_show">
                        {% block singlecommentblock %}
                        {% endblock %}
                    </div>
                </div>

                <div class="single_chapter_top_menu hidden">
                    <a class="single_back_to_manga" href="{% url 'manga-page' slug=manga.manga_slug %}"><p>← К манге</p></a>
                    <div class="single_chapter_info">
                        <p class="single_chapter_number">Глава {{ chapter.volume.vol_number }}-{{ chapter.get_chapter_display }}</p>
                        {% for page in single_page_mode %}
                        <p class="single_page_numbers {% if forloop.first %}active{% else %}hidden{% endif %}">
                            {% if not page.is_double_page %}
                                Страница {{ page.page_number }}
                            {% else %}
                                Разворот {{ page.page_number }} — {{ page.page_number|add:-1 }}
                            {% endif %}
                        </p>
                        {% endfor %}
                    </div>
{#                    <button class="hide_top"><p>Скрыть</p></button>#}
                    <div class="single_rate_block">
                        {% include 'partials/single_rating_block.html' with manga=manga chapter=chapter like_percentage=like_percentage user_rating=user_rating %}
                    </div>

{#                    {% if chapter.interpreter.all or chapter.editor.all or chapter.retoucher.all or chapter.typesetter.all or chapter.sfx_artist.all %}#}
{#                    <div class="credits">#}
{#                        {% if chapter.interpreter.all %}#}
{#                            <div class="staff_block">#}
{#                                <p>Переводчик:</p>#}
{#                                {% for person in chapter.interpreter.all %}#}
{#                                    {% if person.is_private == 0 %}#}
{#                                    <a style="text-decoration: underline" href="{{ person.link_for_offers }}">#}
{#                                        <p>{{ person.staff_name }}{% if not forloop.last %}, {% endif %}</p>#}
{#                                    </a>#}
{#    #}
{#                                    {% else %}#}
{#                                        <p>{{ person.staff_name }}{% if not forloop.last %}, {% endif %}</p>#}
{#                                    {% endif %}#}
{#                                {% endfor %}#}
{#                            </div>#}
{#                        {% endif %}#}
{#                        #}
{#                        {% if chapter.editor.all %}#}
{#                            <div class="staff_block">#}
{#                                <p>Редактор:</p>#}
{#                                {% for person in chapter.editor.all %}#}
{#                                    {% if person.is_private == 0 %}#}
{#                                    <a style="text-decoration: underline" href="{{ person.link_for_offers }}">#}
{#                                        <p>{{ person.staff_name }}{% if not forloop.last %}, {% endif %}</p>#}
{#                                    </a>#}
{#    #}
{#                                    {% else %}#}
{#                                        <p>{{ person.staff_name }}{% if not forloop.last %}, {% endif %}</p>#}
{#                                    {% endif %}#}
{#                                {% endfor %}#}
{#                            </div>#}
{#                        {% endif %}#}
{#                        {% if chapter.retoucher.all %}#}
{#                            <div class="staff_block">#}
{#                                <p>Ретушёр:</p>#}
{#                                {% for person in chapter.retoucher.all %}#}
{#                                    {% if person.is_private == 0 %}#}
{#                                    <a style="text-decoration: underline" href="{{ person.link_for_offers }}">#}
{#                                        <p>{{ person.staff_name }}{% if not forloop.last %}, {% endif %}</p>#}
{#                                    </a>#}
{#    #}
{#                                    {% else %}#}
{#                                        <p>{{ person.staff_name }}{% if not forloop.last %}, {% endif %}</p>#}
{#                                    {% endif %}#}
{#                                {% endfor %}#}
{#                            </div>#}
{#                        {% endif %}#}
{#                        {% if chapter.typesetter.all %}#}
{#                            <div class="staff_block">#}
{#                                <p>Верстальщик:</p>#}
{#                                {% for person in chapter.typesetter.all %}#}
{#                                    {% if person.is_private == 0 %}#}
{#                                    <a style="text-decoration: underline" href="{{ person.link_for_offers }}">#}
{#                                        <p>{{ person.staff_name }}{% if not forloop.last %}, {% endif %}</p>#}
{#                                    </a>#}
{#        #}
{#                                    {% else %}#}
{#                                        <p>{{ person.staff_name }}{% if not forloop.last %}, {% endif %}</p>#}
{#                                    {% endif %}#}
{#                                {% endfor %}#}
{#                            </div>#}
{#                        {% endif %}#}
{#                        {% if chapter.sfx_artist.all %}#}
{#                            <div class="staff_block">#}
{#                                <p>Художник<br>по&nbsp;звукам:</p>#}
{#                                {% for person in chapter.sfx_artist.all %}#}
{#                                    {% if person.is_private == 0 %}#}
{#                                    <a style="text-decoration: underline" href="{{ person.link_for_offers }}">#}
{#                                        <p>{{ person.staff_name }}{% if not forloop.last %}, {% endif %}</p>#}
{#                                    </a>#}
{#    #}
{#                                    {% else %}#}
{#                                        <p>{{ person.staff_name }}{% if not forloop.last %}, {% endif %}</p>#}
{#                                    {% endif %}#}
{#                                {% endfor %}#}
{#                            </div>#}
{#                        {% endif %}#}
{#                    </div>#}
{#                {% endif %}#}

                </div>

                <script>
                    function openSingleChapterMenu(button) {
                        const singleMenu = document.querySelector('.single_chapter_top_menu');
                        const menuSingleButton = button;
                        singleMenu.classList.remove('hidden');
                        singleMenu.classList.add('active');
                        menuSingleButton.classList.remove('active');
                        menuSingleButton.classList.add('hidden');
                    }

                    document.addEventListener('click', function(event) {
                        const singleMenu = document.querySelector('.single_chapter_top_menu');
                        const menuSingleButton = document.getElementById('single-chapter-top-menu-button')

                        if (singleMenu.classList.contains('active') &&
                            !singleMenu.contains(event.target) &&
                            !menuSingleButton.contains(event.target)) {

                            singleMenu.classList.remove('active');
                            singleMenu.classList.add('hidden');
                            menuSingleButton.classList.remove('hidden');
                            menuSingleButton.classList.add('active');
                        }
                    })
                </script>

                <script>
                    function findSinglePageID() {
                        let pair = document.querySelector('.single.active');
                        {#console.log(pair);#}
                        let page = pair.firstElementChild;
                        {#console.log(page.getAttribute('data-page-id'));#}
                        return page.getAttribute('data-page-id');
                    }

                    function loadSinglePageContent() {
                        let windowComment = document.querySelector('.single_comments_container');

                        if (windowComment.classList.contains('hidden')) {
                            windowComment.classList.remove('hidden');
                            windowComment.classList.add('active');
                            let pageId = findSinglePageID();
                            if (!pageId) {
                                console.error('pageId не найден');
                                return;
                            }
                            let commentWindow = document.querySelector('.single_comment_show');
                            commentWindow.id = 'comments-page-list-' + pageId;
                            htmx.ajax('GET', `/manga/page/${pageId}/comments/`, {
                                    target: `#comments-page-list-${pageId}`,
                                    swap: `innerHTML`,
                                    {#onSuccess: function (data) {#}
                                    {#    console.log(`Успешный ответ:`, data);#}
                                    {#    console.log(`Длина HTML:`, data.length);},#}
                                    {#onError: function (error) {#}
                                    {#    console.error(`Ошибка:`, error);},#}
                                }
                            )
                        } else {
                            windowComment.classList.remove('active');
                            windowComment.classList.add('hidden');
                        }
                    }
                </script>

            </div>

    <script>
    const singlePageNumbers = document.querySelectorAll('.single_page_numbers');
    const pageSingle = document.querySelectorAll('.single');


    function updateSinglePage() {
        try {
        const commentWindow = document.querySelector('.single_comments_container');
        if (commentWindow.classList.contains('active')) {
            commentWindow.classList.remove('active');
            commentWindow.classList.add('hidden');
        }
        pageSingle.forEach(page => {
            page.classList.add('hidden');
            page.classList.remove('active');
        });
        singlePageNumbers.forEach(page => {
            page.classList.add('hidden');
            page.classList.remove('active');
        });
        let currentImage = document.querySelector(`.single .page[data-page-number="${currentSingle}"]`);
        currentImage.parentElement.classList.remove('hidden');
        currentImage.parentElement.classList.add('active');
        {#singlePageNumbers[currentSingle - 1].classList.remove('hidden');#}
        {#singlePageNumbers[currentSingle - 1].classList.add('active');#}
        {#console.log(getCurrentPageNumber())#}
        } catch (error) {
            {#console.error('Ошибка:', error.message);#}
        }
    }
    function goToNextSingle() {
        if (currentSingle < lastPage) {

            let singleImage = document.querySelector(`.single .page[data-page-number="${currentSingle}"]`);
            let orientation;
            // Проверка на разворот
            // NOTE: зачем проверять ориентацию, если у страницы есть поле is_double_page?
            if (singleImage) {
                orientation = checkImageOrientation(singleImage);
            }
            // Если следующая страница из следующей пары ИЛИ если текущая страница — разворот
            if (((currentSingle + 1) % 2 === 0) || (orientation)) {
                currentDouble++;
            }
            // Если следующего номера нет, но номер через один — существует и он не последний в списке
            if (!document.querySelector(`.single .page[data-page-number="${currentSingle + 1}"]`) && (currentSingle + 2 < lastPage)) {
                currentSingle += 2;
            } else {
                currentSingle++;
            }
            updateLink(currentSingle);
            console.log(`SINGLE | Single: ${currentSingle} | Double: ${currentDouble}`)

            updateSinglePage();
            updateDoublePage();

        } else if (currentSingle === lastPage && next_chapter) {
            window.location.href = `/manga/${manga_slug}/chapter/${next_chapter}/`;
        } else if (currentSingle === lastPage && !next_chapter) {
            window.location.href = `/manga/${manga_slug}/`;
        }
    }

    function goToPreviousSingle() {
        if (currentSingle > firstPage) {
            let currentImage = document.querySelector(`.single .page[data-page-number="${currentSingle}"]`);
            let orientation;
            if (currentImage) {
                orientation = checkImageOrientation(currentImage);
            }
            if ((currentSingle % 2 === 0) || (orientation)) {
                currentDouble--;
            }
            if (!document.querySelector(`.single .page[data-page-number="${currentSingle - 1}"]`) && (currentSingle - 2 > firstPage)) {
                currentSingle -= 2;
            } else {
                currentSingle--;
            }
            updateLink(currentSingle);
            console.log(`SINGLE | Single: ${currentSingle} | Double: ${currentDouble}`)

            updateSinglePage();
            updateDoublePage();

        } else if (currentSingle === 1 && prev_chapter) {
            window.location.href = `/manga/${manga_slug}/chapter/${prev_chapter}/`;
        } else if (currentSingle === 1 && !prev_chapter) {
            window.location.href = `/manga/${manga_slug}/`;
        }
    }

    updateSinglePage();
    </script>

            <!--Двухстраничный вывод-->
            <div class="double_page page_container">

                {% if user.profile.viewed_double == False %}
                    <div class="tutorial_block" id="double_tutorial_block">
                        <div class="top_edge">
                            <p>Навигация и оценка главы<br>(чтобы убрать панель, нажми в пустой области ниже)</p>
                        </div>
                        <div class="left_edge">
                            <p>Следующая страница&nbsp;/&nbsp;глава</p>
                        </div>
                        <div class="right_edge">
                            <p>Предыдущая страница&nbsp;/&nbsp;глава</p>
                        </div>
{#                        <div class="rate"><p>Оценка&nbsp;главы</p></div>#}
                        <div class='bottom_edge_left'>
                            <p>Комментарии к странице слева<br>(чтобы убрать окно, нажми на эту же кнопку)</p>
                        </div>
                        <div class="bottom_edge_right">
                            <p>Комментарии к странице справа<br>(чтобы убрать окно, нажми на эту же кнопку)</p>
                        </div>
                        <div class="thanks_button">
                            {% include 'partials/double_tutorial_button_block.html' %}
                        </div>
                    </div>
                {% endif %}

                {% for pair in double_page_mode %}
                    <div class='double page_block {% if forloop.first %}active{% else %}hidden{% endif %}'>
                        {% if pair|length == 1 and pair.0.is_double_page %}
                            <div class="double_block">
                            <!-- Разворотная страница (занимает оба места) -->
                                <img src="{{ pair.0.page_image.url }}"
                                     class="page spread-page"
                                     data-page-id="{{ pair.0.id }}"
                                    data-page-number="{{ pair.0.page_number }}">
                            </div>
                        {% elif pair|length == 2 %}
                            <!-- Две обычные страницы -->
                            <div class="double_block">
                                <img src="{{ pair.1.page_image.url }}"
                                     class="page normal-page"
                                     data-page-id="{{ pair.1.id }}"
                                data-page-number="{{ pair.1.page_number }}">
                                <img src="{{ pair.0.page_image.url }}"
                                     class="page normal-page"
                                     data-page-id="{{ pair.0.id }}"
                                data-page-number="{{ pair.0.page_number }}">
                            </div>
                        {% elif forloop.first %}
                            <div class="double_first">
                                <img src="{{ pair.0.page_image.url }}"
                                     class="page normal-page"
                                     data-page-id="{{ pair.0.id }}"
                                data-page-number="{{ pair.0.page_number }}">
                                <div style="background: white; width: 66.7vh" class="page-container right-page"></div>
                            </div>
                        {% elif forloop.last %}
                            <div class="double_last">
                                <div style="background: white; width: 66.7vh" class="page-container left-page"></div>
                                <img src="{{ pair.0.page_image.url }}"
                                     class="page normal-page"
                                     data-page-id="{{ pair.0.id }}"
                                data-page-number="{{ pair.0.page_number }}">
                            </div>
                        {% endif %}
                        {# TODO: если эксперимент удастся, заменить page_number на id в одностраничном блоке #}
                    </div>
                {% endfor %}



                <aside class="top_panel_chapter aside_button">
                    <button class='active' id='chapter-top-menu-button' onclick='openChapterMenu(this)'></button>
                </aside>
                 <aside class="toggle_next double_next read_btn aside_button">
                    <button id="next_page" onclick="debouncedGoToNextDouble()"></button>
                </aside>
                <aside class="toggle_prev double_prev read_btn aside_button">
                    <button id="prev_page" onclick="debouncedGoToPreviousDouble()"></button>
                </aside>
                <aside class="comment_menu aside_button left_page_comment">
                    <button id="left_comment" onclick="loadDoublePageContent(this)"></button>
                </aside>
                <aside class="comment_menu aside_button right_page_comment">
                    <button id="right_comment" onclick="loadDoublePageContent(this)"></button>
                </aside>

                <div class="comments_container hidden">
                    <div class="comment_show">
                        {% block commentblock %}
                        {% endblock %}
                    </div>
                </div>

                <div class="chapter_top_menu hidden">
                    <a class="back_to_manga" href="{% url 'manga-page' slug=manga.manga_slug %}"><p>← К манге</p></a>
                    <div class="chapter_info">
                        <p class="chapter_number">Глава {{ chapter.volume.vol_number }}-{{ chapter.get_chapter_display }}</p>
                        <p>|</p>
                        {% for pair in double_page_mode %}
                        <p class="page_numbers {% if forloop.first %}active{% else %}hidden{% endif %}">
                            {% if pair.1 %}
                                Страницы {{ pair.1.page_number }} — {{ pair.0.page_number }}
                            {% elif forloop.first or forloop.last %}
                                Страница {{ pair.0.page_number }}
                            {% else %}
                                Разворот {{ pair.0.page_number }} — {{ pair.0.page_number|add:-1 }}
                            {% endif %}
                        </p>
                        {% endfor %}
                    </div>
{#                    <button class="hide_top"><p>Скрыть</p></button>#}
                    <div class="double_rate_block">
                        {% include 'partials/double_rating_block.html' with manga=manga chapter=chapter like_percentage=like_percentage user_rating=user_rating %}
                    </div>
{#                    {% if chapter.interpreter.all or chapter.editor.all or chapter.retoucher.all or chapter.typesetter.all or chapter.sfx_artist.all %}#}
{#                        <div class="credits">#}
{#                            {% if chapter.interpreter.all %}#}
{#                                <h2>Переводчик:</h2>#}
{#                                {% for person in chapter.interpreter.all %}#}
{#                                    {% if person.is_private == 0 %}#}
{#                                    <a style="text-decoration: underline" href="{{ person.link_for_offers }}">#}
{#                                        <p>{{ person.staff_name }}{% if not forloop.last %}, {% endif %}</p>#}
{#                                    </a>#}
{#    #}
{#                                    {% else %}#}
{#                                        <p>{{ person.staff_name }}{% if not forloop.last %}, {% endif %}</p>#}
{#                                    {% endif %}#}
{#                                {% endfor %}#}
{#                            {% endif %}#}
{#                            {% if chapter.editor.all %}#}
{#                                <h2>Редактор:</h2>#}
{#                                {% for person in chapter.editor.all %}#}
{#                                    {% if person.is_private == 0 %}#}
{#                                    <a style="text-decoration: underline" href="{{ person.link_for_offers }}">#}
{#                                        <p>{{ person.staff_name }}{% if not forloop.last %}, {% endif %}</p>#}
{#                                    </a>#}
{#    #}
{#                                    {% else %}#}
{#                                        <p>{{ person.staff_name }}{% if not forloop.last %}, {% endif %}</p>#}
{#                                    {% endif %}#}
{#                                {% endfor %}#}
{#                            {% endif %}#}
{#                            {% if chapter.retoucher.all %}#}
{#                                <h2>Ретушёр:</h2>#}
{#                                {% for person in chapter.retoucher.all %}#}
{#                                    {% if person.is_private == 0 %}#}
{#                                    <a style="text-decoration: underline" href="{{ person.link_for_offers }}">#}
{#                                        <p>{{ person.staff_name }}{% if not forloop.last %}, {% endif %}</p>#}
{#                                    </a>#}
{#    #}
{#                                    {% else %}#}
{#                                        <p>{{ person.staff_name }}{% if not forloop.last %}, {% endif %}</p>#}
{#                                    {% endif %}#}
{#                                {% endfor %}#}
{#                            {% endif %}#}
{#                            {% if chapter.typesetter.all %}#}
{#                                <h2>Верстальщик:</h2>#}
{#                                {% for person in chapter.typesetter.all %}#}
{#                                    {% if person.is_private == 0 %}#}
{#                                    <a style="text-decoration: underline" href="{{ person.link_for_offers }}">#}
{#                                        <p>{{ person.staff_name }}{% if not forloop.last %}, {% endif %}</p>#}
{#                                    </a>#}
{#    #}
{#                                    {% else %}#}
{#                                        <p>{{ person.staff_name }}{% if not forloop.last %}, {% endif %}</p>#}
{#                                    {% endif %}#}
{#                                {% endfor %}#}
{#                            {% endif %}#}
{#                            {% if chapter.sfx_artist.all %}#}
{#                                <h2>Художник<br>по&nbsp;звукам:</h2>#}
{#                                {% for person in chapter.sfx_artist.all %}#}
{#                                    {% if person.is_private == 0 %}#}
{#                                    <a style="text-decoration: underline" href="{{ person.link_for_offers }}">#}
{#                                        <p>{{ person.staff_name }}{% if not forloop.last %}, {% endif %}</p>#}
{#                                    </a>#}
{#    #}
{#                                    {% else %}#}
{#                                        <p>{{ person.staff_name }}{% if not forloop.last %}, {% endif %}</p>#}
{#                                    {% endif %}#}
{#                                {% endfor %}#}
{#                            {% endif %}#}
{#                        </div>#}
{#                    {% endif %}#}
                </div>

                <script>
                    function openChapterMenu(button) {
                        const menu = document.querySelector('.chapter_top_menu');
                        const menuButton = button;
                        menu.classList.remove('hidden');
                        menu.classList.add('active');
                        {#menuButton.classList.remove('active');#}
                        {#menuButton.classList.add('hidden');#}
                    }

                    document.addEventListener('click', function(event) {
                        const menu = document.querySelector('.chapter_top_menu');
                        const menuButton = document.getElementById('chapter-top-menu-button')

                        if (menu.classList.contains('active') &&
                            !menu.contains(event.target) &&
                            !menuButton.contains(event.target)) {

                            menu.classList.remove('active');
                            menu.classList.add('hidden');
                            menuButton.classList.remove('hidden');
                            menuButton.classList.add('active');
                        }
                    })
                </script>

                <script>

                    const pageNumbers = document.querySelectorAll('.page_numbers');
                    {#console.log(pageNumbers);#}

                    function findDoublePageID(buttonId) {
                        let pairBlock = document.querySelector('.double.active');
                        let pair = pairBlock.querySelector('.double_block, .double_first, .double_last')
                        let page;
                        if (buttonId === 'left_comment') {
                            if (pair.classList.contains('double_last')) {
                                page = pair.lastElementChild;
                            } else {
                                page = pair.firstElementChild;
                            }
                        } else if (buttonId === 'right_comment') {
                            if (pair.classList.contains('double_first')) {
                                page = pair.firstElementChild;
                            } else {
                                page = pair.lastElementChild;
                            }
                        }
                        console.log(page)
                        return page.getAttribute('data-page-id');
                    }

                    function loadDoublePageContent(button) {
                        let buttonId = button.id;
                        let windowComment = document.querySelector('.comments_container');

                        if (windowComment.classList.contains('hidden')) {
                            windowComment.classList.remove('hidden');
                            if (buttonId === 'left_comment') {
                                windowComment.classList.remove('active', 'right_page');
                                windowComment.classList.add('active', 'left_page');
                            } else if (buttonId === 'right_comment') {
                                windowComment.classList.remove('active', 'left_page');
                                windowComment.classList.add('active', 'right_page');
                            }
                            let pageId = findDoublePageID(buttonId);
                            if (!pageId) {
                                console.error('pageId не найден');
                                return;
                            }
                            const commentWindow = document.querySelector('.comment_show');
                            commentWindow.id = 'comments-page-list-' + pageId;
                            htmx.ajax('GET', `/manga/page/${pageId}/comments/`, {
                                    target: `#comments-page-list-${pageId}`,
                                    swap: `innerHTML`,
                                    {#onSuccess: function (data) {#}
                                    {#    console.log(`Успешный ответ:`, data);#}
                                    {#    console.log(`Длина HTML:`, data.length);},#}
                                    {#onError: function (error) {#}
                                    {#    console.error(`Ошибка:`, error);},#}
                                }
                            )
                        } else {
                            windowComment.classList.remove('active', 'left_page', 'right_page');
                            windowComment.classList.add('hidden');
                        }
                    }
                </script>
            </div>

            {#<aside class="chapter_menu">#}
                {#{% include 'chapter_htmx/chapter_top_panel.html' %}#}
            {# </aside>#}

        </div>
    </div>

    <script>
        let readerMode = document.querySelector('.chapter_container').dataset.reader_mode;
        if (readerMode === "left_to_right") {
            console.log('Режим: слева направо')
            document.querySelectorAll('.toggle_next.single_next').forEach(element => {
                element.innerHTML = '<button id="next_page" onclick="debouncedGoToPreviousSingle()"></button>';
            });
            document.querySelectorAll('.toggle_prev.single_prev').forEach(element => {
                element.innerHTML = '<button id="prev_page" onclick="debouncedGoToNextSingle()"></button>';
            });
            document.querySelectorAll('.toggle_next.double_next').forEach(element => {
                element.innerHTML = '<button id="next_page" onclick="debouncedGoToPreviousDouble()"></button>';
            });
            document.querySelectorAll('.toggle_prev.double_prev').forEach(element => {
                element.innerHTML = '<button id="prev_page" onclick="debouncedGoToNextDouble()"></button>';
            });

            document.querySelectorAll('.double_block').forEach(element => {
                if (!element.classList.contains('reverse')) {
                    element.classList.add('reverse')
                }
            });
            document.querySelectorAll('.double_first').forEach(element => {
               if (!element.classList.contains('reverse')) {
                    element.classList.add('reverse')
                }
            });
            document.querySelectorAll('.double_last').forEach(element => {
               if (!element.classList.contains('reverse')) {
                    element.classList.add('reverse')
                }
            });
        } else {
            console.log('Режим: справа налево');
            document.querySelectorAll('.toggle_next.single_next').forEach(element => {
                element.innerHTML = '<button id="next_page" onclick="debouncedGoToNextSingle()"></button>';
            });
            document.querySelectorAll('.toggle_prev.single_prev').forEach(element => {
                element.innerHTML = '<button id="prev_page" onclick="debouncedGoToPreviousSingle()"></button>';
            });
            document.querySelectorAll('.toggle_next.double_next').forEach(element => {
                element.innerHTML = '<button id="next_page" onclick="debouncedGoToNextDouble()"></button>';
            });
            document.querySelectorAll('.toggle_prev.double_prev').forEach(element => {
                element.innerHTML = '<button id="prev_page" onclick="debouncedGoToPreviousDouble()"></button>';
            });

            document.querySelectorAll('.double_block').forEach(element => {
                if (element.classList.contains('reverse')) {
                    element.classList.remove('reverse')
                }
            });
            document.querySelectorAll('.double_first').forEach(element => {
                if (element.classList.contains('reverse')) {
                    element.classList.remove('reverse')
                }
            });
            document.querySelectorAll('.double_last').forEach(element => {
                if (element.classList.contains('reverse')) {
                    element.classList.remove('reverse')
                }
            });
        }
    </script>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            document.body.addEventListener('htmx:configRequest', function(evt) {
                const elt = evt.detail.elt;
                if (elt.closest('.single_rating, .double_rating')) {
                    evt.detail.parameters.source_block = elt.closest('.single_rating') ? 'single' : 'double';
                }
            });
        });
    </script>

    <script>
    const totalDouble = {{ double_page_mode|length }}
    const pageDouble = document.querySelectorAll('.double');

    function updateDoublePage() {
        const commentWindow = document.querySelector('.comments_container');
        if (commentWindow.classList.contains('active')) {
            commentWindow.classList.remove('active');
            commentWindow.classList.add('hidden');
        }
        pageDouble.forEach(pair => {
            pair.classList.add('hidden');
            pair.classList.remove('active');
        });
        pageNumbers.forEach(pair => {
            pair.classList.add('hidden');
            pair.classList.remove('active');
        });
        pageDouble[currentDouble - 1].classList.remove('hidden');
        pageDouble[currentDouble - 1].classList.add('active');
        pageNumbers[currentDouble - 1].classList.remove('hidden');
        pageNumbers[currentDouble - 1].classList.add('active');
        {#console.log(getCurrentPageNumber())#}
    }


    function goToNextDouble() {
        if (currentDouble < totalDouble) {
            if ((currentSingle + 1 === lastPage)) {
                currentSingle++;
            } else {
                currentSingle += 2;
            }
            currentDouble++;
            updateLink(currentSingle);
            console.log(`DOUBLE | Single: ${currentSingle} | Double: ${currentDouble}`)

            updateDoublePage();
            updateSinglePage();

        } else if (currentSingle === lastPage && next_chapter) {
            window.location.href = `/manga/${manga_slug}/chapter/${next_chapter}/`;
        } else if (currentSingle === lastPage && !next_chapter) {
            window.location.href = `/manga/${manga_slug}/`;
        }
    }

    function goToPreviousDouble() {
        if (currentDouble > 1) {
            if (currentSingle % 2 === 0) {
                currentSingle--;
            } else {
                currentSingle -= 2;
            }
            currentDouble--;
            updateLink(currentSingle);
            console.log(`DOUBLE | Single: ${currentSingle} | Double: ${currentDouble}`)

            updateDoublePage();
            updateSinglePage();

        } else if (currentDouble === 1 && prev_chapter) {
            window.location.href = `/manga/${manga_slug}/chapter/${prev_chapter}/`;
        } else if (currentDouble === 1 && !prev_chapter) {
            window.location.href = `/manga/${manga_slug}/`;
        }
    }

    // NOTE: Если переключение стрелками будет ломать подсчёт, скорее всего, нужно вписать вместо обычных функций замедленные
    document.addEventListener('keydown', function (event) {
        if (event.key === 'ArrowRight') {
            goToPreviousDouble();
        } else if (event.key === 'ArrowLeft') {
            goToNextDouble();
        }
    });

    updateDoublePage();

    </script>

    <script>
        function debounce(func, wait) {
            let timeout;
            return function executedFunction(...args) {
                const later = () => {
                    clearTimeout(timeout);
                    func(...args);
                };
                clearTimeout(timeout);
                timeout = setTimeout(later, wait);
            };
        }
        const debouncedGoToNextSingle = debounce(goToNextSingle, 150);
        const debouncedGoToNextDouble = debounce(goToNextDouble, 150);
        const debouncedGoToPreviousSingle = debounce(goToPreviousSingle, 150);
        const debouncedGoToPreviousDouble = debounce(goToPreviousDouble, 150);
    </script>

</body>
</html>