{% extends 'top_panel.html' %}
{% load nbsp_filters %}
{% load text_processing %}
{% load static %}

{% block title %}
    <title>{{ post.post_name }}</title>
{% endblock %}

{% block content %}

    {% if request.is_mobile %}

        <link rel="stylesheet" href="{% static 'post_section/css/post_page-mobile.css' %}">
        <div class="main_container">
            <div class="navig_buttons">
                <a href="{% url 'post-catalog' %}"><img class="svg-icon" src="{% static "post_section/icons/arrow_back.svg" %}">К 
                    постам</a>
                {% if user.username == 'yurden' %}
                    <p> | </p>
                    <a href="/admin/post_section/post/{{ post.id }}/change/"><img class="svg-icon" src="{% static 'post_section/icons/edit.svg' %}">Редактировать</a>
                {% endif %}
            </div>

            <div class="post_container">
                {% if post.post_slug != 'info' %}
                    <div class="post_header">
                        <div class="post_title">
                            <h2>{{ post.post_name }}</h2>
                        </div>
                        <div class="post_views">
                            <img class="svg-icon" src="{% static 'post_section/icons/view_eye.svg' %}">
                            <p>{{ post.view_count }}</p>
                        </div>
                    </div>
                {% endif %}

                <div class="post_content">
                    <p>{{ post.content|add_nbsp|safe }}</p>

                    {% if post.post_slug == 'info' %}
                        <form class="faq_form" action="{% url 'info' %}" method="post">
                            {% csrf_token %}
                            <textarea class="message_block" type="text" name="message" id="message" rows="4"
                                      required></textarea>
                            <div class="send_block">
                                <input class="send_btn" type="submit" value="Отправить">
                            </div>
                        </form>
                    {% endif %}
                </div>
            </div>
        </div>

    {% else %}

        <link rel="stylesheet" href="{% static 'post_section/css/post_page.css' %}">
        <div class="main_container">
            <div class="post_container">
                {% if post.post_slug != 'info' %}
                    <div class="post_header">
                        <div class="post_title">
                            <h1>{{ post.post_name }}</h1>
                        </div>
                        <div class="post_views">
                            <img src="{% static 'post_section/icons/view_eye.svg' %}">
                            <p>{{ post.view_count }}</p>
                        </div>
                    </div>
                {% endif %}

                <div class="post_content">
                    {{ post.content|add_nbsp|safe }}

                    {% if post.post_slug == 'info' %}
                        <form class="faq_form" action="{% url 'info' %}" method="post">
                            {% csrf_token %}
                            <textarea class="message_block" type="text" name="message" id="message" rows="4"
                                      required></textarea>
                            <div class="send_block">
                                <input class="send_btn" type="submit" value="Отправить">
                            </div>
                        </form>
                    {% endif %}
                </div>
            </div>
        </div>

        {% if user.username == 'yurden' %}
            <div class="side_bar">
                <div class="menu_block">
                    <a href="/admin/post_section/post/{{ post.id }}/change/"><p>Редактировать</p><img src="{% static 'post_section/icons/edit.svg' %}"></a>
                </div>
            </div>
        {% endif %}

    {% endif %}
{% endblock %}