{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    
    {% block htmx_code %}

    {% endblock %}

    {% block title %}
        
    {% endblock %}
</head>
<body>
    {#  Контейнер всей страницы  #}
        {% block top_panel %}
            <link rel="stylesheet" href="{% static 'main_section/css/top_panel.css' %}">
            {#  Верхняя панель  #}
            <div class="top_panel_container">
                <div class="site_name_container">
                    <p>Студия Юрия Московцева</p>
                </div>
                <div class="buttons_container">
                    <div class="main_page_link">
{#                        <a href="#">Главная</a>#}
                        <a href="{% url 'home-page' %}">Главная</a>
                    </div>
                    <div class="catalog_link">
                        <a href="#">Каталог</a>
                    </div>
                    <div class="info_link">
                        <a href="{% url 'info' %}">Инфо</a>
                    </div>
                </div>
                <div class="profile_container">
                    {% if user.is_authenticated %}
                        <button class="profile_menu_btn" onclick="toggleMenu()"><p>{{ user.username }}</p></button>
                    {% else %}
                        <div class="login">
                            <a href="{% url 'login' %}">Войти</a>
                        </div>
                        <p>|</p>
                        <div class="login">
                            <a href="{% url 'register' %}">Зарегистрироваться</a>
                        </div>
                    {% endif %}
                </div>
            </div>
            {% if user.is_authenticated %}
                <div class="profile_menu" id="userMenu">
                    {% if user.username == 'yurden' %}
                        <div class="menu_item">
                            <a href="/admin/"><img src="{% static 'main_section/icons/admin.svg' %}"><p>Админка</p></a>
                        </div>
                    {% endif %}
                    <div class="menu_item">
                        <a href="{% url 'logout' %}"><img src="{% static 'main_section/icons/logout.svg' %}"><p>Выйти</p></a>
                    </div>
                </div>
            {% endif %}
    
        {% endblock %}

        {% block content %}
        
        {% endblock %}

    <script>
        function toggleMenu() {
            const menu = document.getElementById('userMenu');
            menu.classList.toggle('show');
        }
        
        document.addEventListener('click', function(event) {
            const menu = document.getElementById('userMenu');
            const button = document.querySelector('.profile_menu_btn');
            
            if (!menu.contains(event.target) && !button.contains(event.target)) {
                menu.classList.remove('show');
            }
        });
    </script>
    
{#<script src="{% static 'main_section/js/top_panel.js' %}"></script>#}

</body>
</html>