{% extends 'new/new_top_panel.html' %}

{% load static %}
{% load nbsp_filters %}
{% load dash_filters %}

{% block title %}
    <title>{{ post.post_name }}</title>
{% endblock %}

{% block content %}

    <div class="main_container">
        <div class="main_block">
            <div class="post_container">
                <div class="post_info_block">
                    <div class="name_n_date">
                        <p class="date">{{ post.add_date }}</p>
                        <h2>{{ post.post_name }}</h2>
                    </div>
                    <div class="tags_block">
                        <h4 class="block_title">Теги:</h4>
                        {% for tag in tags %}
                            <p class="list_element">{{ tag.tag_name }}</p>
                        {% endfor %}
                    </div>
                </div>
                <div class="post_content">
                    <p>{{ post.content|add_nbsp|safe }}</p>
                </div>
            </div>
            <div class="comments_container" id="comments-container" data-post_id="{{ post.id }}">
                {% block post_comments_block %}
                {% endblock %}
            </div>
        </div>
    </div>

    <script>

        const commentCont = document.getElementById('comments-container');
        const postId = commentCont.dataset.post_id;

        htmx.ajax(`GET`, `/post/${postId}/comments/`, {
                target: `#comments-container`,
                swap: `beforeend`,
            })

    </script>

{% endblock %}